
@bodyBackgroundColor: #E1E6E9;
@commentBackgroundColor: #F3F6F7;

// three base colours

// the highlight color
@highlightColor: #49A9BA;
@highlightColorLight: lighten(@highlightColor, 30%);
@highlightColorDark: darken(@highlightColor, 30%);

// button colors
@buttonTextColor: lighten(desaturate(@highlightColor, 10%), 10%);
@buttonBorderColor: lighten(desaturate(@highlightColor, 10%), 30%);

//
@labelTextColor: @bodyTextColor;

// the body color
@bodyTextColor: #616769; //#858a8c;
@placeholderTextColor: lighten(@bodyTextColor, 20%);
@headingColor: darken(@bodyTextColor, 50%);
@noDataTextColor: lighten(@bodyTextColor, 20%);
@tableHeaderTextColor: darken(@bodyTextColor, 20%);

// the usernames
@usernameColor:darken(@bodyTextColor, 30%);
@userinfoColor: darken(@bodyTextColor, 10%);
@userDateColor: lighten(@bodyTextColor, 30%);

@sidebarTextColor:  darken(@bodyTextColor, 20%);

// menu
@submenuTextColor: lighten(@bodyTextColor, 20%);
@submenuSelectedTextColor: darken(@bodyTextColor, 20%);

// the background color
@backgroundColorLight: #F4F6F7;
@backgroundColorDark: #DCE2E4;


// typeahead
@typeaheadOptionTextColor: darken(@bodyTextColor, 10%);
@typeaheadTokenColor: lighten(@highlightColorLight, 10%);
@typeaheadTokenBorderColor:lighten(@highlightColor, 20%);

// Menu
@menubarColor: #5CABBA;
@menubarSearchBackgroundColor: darken(@menubarColor, 10%);
@menubarSearchTextColor: @menubarColor;
@menubarColorDark: saturate(darken(@menubarColor, 20%), 10%);

// Border
@borderColor: #dbe1e3;


// menubar color
@redColor: #F76969;
@submenuSelectedBackgroundColor: #5CABBA;

// pills
@pillBackgroundColor: rgb(255, 250, 191);
@pillColor: rgb(125, 120, 94);