.main {
  .panel;
  top: @menubarHeight;
//  background-color: white;
}
  .main-submenubar {
    top: @menubarHeight + @submenubarHeight + 5px;
  }
  .main-activities {
    right: @activitiesWidth;
    background-color: white;
  }

