/**
 *
 * The Manu BAR
 *
 * The Blue main menubar across the top of the page
 *
 */

.menubar {
  background-color: #294457;
  color: #F3F3F3;
  vertical-align: middle;
  height: @menubarHeight;
  overflow: hidden;


  &.menubar-dark {
    background-color: #0E2435;
  }




}
  .menubar-item {
    display: inline-block;
    height: @menubarHeight;
    line-height: @menubarHeight;
    overflow: hidden;
    padding: 0px 21px;

    &.menubar-title {
      font-size: 21px;
      font-weight: 300;
      color: white;
      margin: 0;
    }

    &.menubar-back {
      &:hover {
        background-color: #133047;
      }
      height: @menubarHeight;
      font-size: 21px;

      color: white;
      background-color: #0E2435;
    }

    /*
    The logo container for the sidebar
  */
    &.menubar-logo {
      font-size: 21px;
      color: white;
      cursor: pointer;
    }

    &.menubar-tab {
      &:hover {
        text-decoration: none;
        color: white;
      }
      &.selected {
        color: white;
      }

      color: #8999ab;
      text-decoration: none;
      text-align: center;

      font-size: 14px;
    }

  }




.menubar-search input {
  box-sizing: border-box;
  border-radius: 3px;
  height: 35px;
  border: none;
  background-color: #465C6C;
  color: white;
}

.menubar-user {
  float: right;
}

/*
    A horizontal tab in the sidebar
    :hover             - White text color
    .selected          - Subtle darker background, white text color
*/
