<div ng-show="tab != 'login'" class="sidebar">



    <!--<div class="sidebar-logo">-->
        <!--<a href="#/home"><img src="img/Group.png" alt=""/></a> <button class="pull-right btn-search"><i class="icon icon-search"></i></button>-->
    <!--</div>-->

    <div class="sidebar-tabs">
        <a class="sidebar-tab" ng-class="{'selected': tab=='home'}" href="#/home"><i class="icon icon-th-list"></i></a>
        <a class="sidebar-tab" ng-class="{'selected': tab=='patient' || tab=='patients'}" href="#/patients/my-patients"><i class="icon icon-stethoscope"></i></a>
        <a class="sidebar-tab" ng-class="{'selected': tab=='group' || tab=='groups'}" href="#/groups/my-groups"><i class="icon icon-group"></i></a>
        <a class="sidebar-tab" ng-class="{'selected': tab=='user' || tab=='user'}" href="#/user"><i class="icon icon-user"></i></a>
    </div>


    <!--<div class="sidebar-item" >
        <a href=""><i class="icon icon-chevron-left"></i> Back to Patients</a>
    </div>-->

    <!--<div ng-switch on="tab">-->

        <!--<div ng-switch-when="home">-->
            <!--<a ng-class="{'selected': tab == 'home'}" href="" class="sidebar-item">Feed</a>-->
        <!--</div>-->
        <!--<div ng-switch-when="groups">-->
            <!--<a ng-class="{'selected': subs[0] == 'my-groups'}" href="#/groups/my-groups" class="sidebar-item">My Groups</a>-->
            <!--<a ng-class="{'selected': subs[0] == 'all-groups'}" href="#/groups/all-groups" class="sidebar-item">All Groups</a>-->
        <!--</div>-->

        <!--<div ng-switch-when="group">-->
            <!--<h1 class="sidebar-item sidebar-item-heading">-->
                <!--{{ group.name }}-->
            <!--</h1>-->
            <!--<a ng-class="{'selected': subs[1] == 'cases'}" href="#/group/{{ subs[0] }}/cases" class="sidebar-item">Shared Cases</a>-->
            <!--<a ng-class="{'selected': subs[1] == 'members'}" href="#/group/{{ subs[0] }}/members" class="sidebar-item">Members</a>-->
        <!--</div>-->
        <!--<div ng-switch-when="patients">-->
            <!--<a ng-class="{'selected': subs[0] == 'my-patients'}" href="#/patients/my-patients" class="sidebar-item">My Patients</a>-->
            <!--<a ng-class="{'selected': subs[0] == 'community-patients'}" href="#/patients/community-patients" class="sidebar-item">Community Patients</a>-->

        <!--</div>-->
        <!--<div ng-switch-when="patient">-->

            <!--<a ng-class="{'selected': subs[0] == 'my-patients'}" href="#/patients/my-patients" class="sidebar-item">My Patients</a>-->

            <!--<div class="sidebar-item-inner">-->

                <!--<a ng-class="{'selected': subs[1] == 'case-summary'}" href="#/patient/{{ subs[0] }}/case-summary" class="sidebar-item sidebar-item-heading sidebar-item-item">-->
                    <!--{{ patient.first_name }} {{ patient.last_name }}-->
                <!--</a>-->

                <!--<div class="sidebar-item-inner">-->

                    <!--<a ng-class="{'selected': subs[1] == 'case-details'}" class="sidebar-item sidebar-item-item" href="#/patient/{{ subs[0] }}/case-details">Case Details</a>-->


                    <!--<div class="sidebar-item-inner">-->
                        <!--<a class="sidebar-item sidebar-item-item" href="#/patient/{{ subs[0] }}/case-details#clinical_summary" scroll-to="clinical_summary">Clinical Summary</a>-->
                        <!--<a class="sidebar-item sidebar-item-item" href="#/patient/{{ subs[0] }}/case-details#xrays" scroll-to="xrays">X-Rays</a>-->
                        <!--<a class="sidebar-item sidebar-item-item" href="#/patient/{{ subs[0] }}/case-details#gene_mutations" scroll-to="gene_mutations">Gene Mutations</a>-->
                        <!--<a class="sidebar-item sidebar-item-item" href="#/patient/{{ subs[0] }}/case-details#clinical_summary" scroll-to="clinical_summary">Diagnoses</a>-->
                    <!--</div>-->


                    <!--<a ng-class="{'selected': subs[1] == 'patient-details'}" class="sidebar-item sidebar-item-item" href="#/patient/{{ subs[0] }}/patient-details">Patient Details</a>-->

                    <!--<div class="sidebar-item-inner">-->
                        <!--<a class="sidebar-item sidebar-item-item" href="#/patient/{{ subs[0] }}/patient-details#contact_details" scroll-to="contact_details">Contact Details</a>-->
                        <!--<a class="sidebar-item sidebar-item-item" href="#/patient/{{ subs[0] }}/patient-details#addresses"  scroll-to="addresses">Addresses</a>-->
                        <!--<a class="sidebar-item sidebar-item-item" href="#/patient/{{ subs[0] }}/patient-details#other_ids" scroll-to="other_ids">Other IDs</a>-->
                        <!--<a class="sidebar-item sidebar-item-item" href="#/patient/{{ subs[0] }}/patient-details#consent_forms" scroll-to="consent_forms">Consent Form</a>-->
                        <!--<a class="sidebar-item sidebar-item-item" href="#/patient/{{ subs[0] }}/patient-details#sharing" scroll-to="sharing">Sharing</a>-->
                    <!--</div>-->

                    <!--<a ng-class="{'selected': subs[1] == 'community'}" class="sidebar-item sidebar-item-item" href="#/patient/{{ subs[0] }}/community">-->
                        <!--European Bone Dysplasia Network-->
                    <!--</a>-->
                    <!--<a ng-class="{'selected': subs[1] == 'community2'}" class="sidebar-item sidebar-item-item" href="#/patient/{{ subs[0] }}/community">-->
                        <!--Australian Bone Group-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->

            <!--<a ng-class="{'selected': subs[0] == 'community-patients'}" href="#/patients/community-patients" class="sidebar-item">Community Patients</a>-->

            <!--<div class="sidebar-item-inner">-->
                <!--<div ng-repeat="share in shares">-->
                    <!--<a class="sidebar-item sidebar-item-item" href="">{{ share.group.name }}</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->



</div>