@menubarTransitionTime: 0.3s;
@menubarTransitionTime: 0.3s;

.submenubar {
  &.submenubar-activities {
    margin-right: @activitiesWidth;
  }
  border-right: 1px solid #dbe1e3;
  background-color: white;
  height: @submenubarHeight;

  ul {
    padding-left: 0px;
    margin-bottom: 0px;

    margin: @defaultSpace;
    padding-bottom: @defaultSpace;
    border-bottom: 1px solid @borderColor;
  }
  ul li {
    list-style: none;
    display: inline-block;
  }
  .submenubar-item {
    display: block;
    padding: 4px 12px;

    color: @placeholderTextColor;
    border-radius: 100px;
  }
  .submenubar-item.selected {
    border: 1px solid @submenuSelectedBackgroundColor;
    color: @submenuSelectedBackgroundColor;
//    background-color: ;//@highlightColor;
//    color: white;
  }
}


/**
 *
 * The Manu BAR
 *
 * The Blue main menubar across the top of the page
 *
 */

.menubar {
  background-color: @menubarColor;
  color: #F3F3F3;
  vertical-align: middle;
  height: @menubarHeight;
  position: fixed;
  top: 0px;
  width: 100%;
  transition: background-color @menubarTransitionTime;


  &.menubar-dark {
    background-color: @menubarColorDark;
  }



  .menubar-left {
    float: left;
    height: @menubarHeight
  }

  .menubar-left.ng-hide-add {
    -webkit-transition:@menubarTransitionTime linear all;
    -moz-transition:@menubarTransitionTime linear all;
    -o-transition:@menubarTransitionTime linear all;
    transition:@menubarTransitionTime linear all;

    opacity:1;
  }
  .menubar-left.ng-hide-add.ng-hide-add-active {
    opacity:0;
  }

  /* When showing an element */
  .menubar-left.ng-hide-remove {
    -webkit-transition:@menubarTransitionTime linear all;
    -moz-transition:@menubarTransitionTime linear all;
    -o-transition:@menubarTransitionTime linear all;
    transition:@menubarTransitionTime linear all;

    /* this needs to be here to make it visible during the animation
       since the .ng-hide class is already on the element rendering
       it as hidden. */
    display:block!important;
    opacity:0;
  }
  .menubar-left,
  .menubar-left.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
  }


  .menubar-right {
    float: right;
    height: @menubarHeight;
  }

  .menubar-notifications {
    font-size: 18px;
  }
  .typeahead {
    transition: 0.2s all;
    width: 150px;
    &.focus {
      width: 300px;
      input[type=text] {
        background-color: white;
      }
    }
    border-radius: 100px;

    position: relative;
    top: 11px;
    right: 11px;
    .icon {
      top: 0px;
    }

    .typeahead-option {
      padding: 10px;
      border: 1px solid @borderColor;
      color: @bodyTextColor;
    }

    .typeahead-option.selected {
      background-color: lighten(@highlightColorLight, 10%);
      border: 1px solid @typeaheadTokenBorderColor;
      color: @highlightColor;
    }


    input[type=text] {
      background-color: darken(@highlightColor, 10%);
      color: @highlightColor;
      border-radius: 100px;
      padding: 7px 14px;
    }
    padding: 0;
    border: none;

//    position: relative;
//
//    .icon {
//      position: absolute;
//      top: 22px;
//      left: 35px;
//      color: @menubarColor;
//    }
//
//    ::-webkit-input-placeholder {
//      color: @menubarSearchTextColor;
//    }
//
//    input[type=text] {
//      &:focus {
//        width: 300px;
//        background-color: white;
//      }
//
//
//      padding: 8px 14px;
//      padding-left: 35px;
//      line-height: 14px;
//      border: none;
//      border-radius: 100px;
//      width: 150px;
//      background-color: @menubarSearchBackgroundColor;
//      transition: 0.1s ease-in;
//    }
  }


  .menubar-item {
    display: inline-block;
    height: @menubarHeight;
    line-height: @menubarHeight;
    overflow: hidden;
    padding: 0px 21px;

    &.menubar-title {
      font-size: 21px;
      font-weight: 300;
      color: white;
      margin: 0;
    }

    &.menubar-back {
      &:hover {
        background-color: #133047;
      }
      height: @menubarHeight;
      font-size: 21px;

      color: white;
      background-color: #0E2435;
    }

    /*
    The logo container for the sidebar
  */
    &



    &.menubar-tab {
      &:hover {
        text-decoration: none;
        color: white;
      }
      &.selected {
        color: white;
      }

      color: #8999ab;
      text-decoration: none;
      text-align: center;

      font-size: 14px;
    }

  }
}



.lookup-results {
  position: absolute;
  z-index: 99;
}

.menubar-user {
  float: right;
}

/*
    A horizontal tab in the sidebar
    :hover             - White text color
    .selected          - Subtle darker background, white text color
*/
