.submenubar {
  &.submenubar-activities {
    margin-right: @activitiesWidth;
  }
  background-color: white;
  height: @submenubarHeight;

  ul {
    padding-left: 0px;
    margin-bottom: 0px;

    margin: @defaultSpace;
    padding-bottom: @defaultSpace;
    border-bottom: 1px solid @borderColor;
  }
  ul li {
    list-style: none;
    display: inline-block;
  }
  .submenubar-item {
    display: block;
    padding: 4px 12px;

    color: @placeholderTextColor;
    border-radius: 100px;
  }
  .submenubar-item.active {
    background-color: @highlightColor;
    color: white;
  }
}


/**
 *
 * The Manu BAR
 *
 * The Blue main menubar across the top of the page
 *
 */

.menubar {
  background-color: @menubarColor;
  color: #F3F3F3;
  vertical-align: middle;
  height: @menubarHeight;
  overflow: hidden;
  position: relative;


  &.menubar-dark {
    background-color: #0E2435;
  }



  .menubar-left {
    float: left;
    height: @menubarHeight
  }

  .menubar-right {
    float: right;
    height: @menubarHeight;
  }

  .menubar-logo {
    font-size: 21px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    a {
      color: white;
    }
    .icon {
      margin-right: 7px;
    }
  }

  .menubar-notifications {
    font-size: 18px;
  }
  .menubar-search {

    position: relative;

    .icon {
      position: absolute;
      top: 22px;
      left: 35px;
      color: @menubarColor;
    }

    ::-webkit-input-placeholder {
      color: @menubarSearchTextColor;
    }

    input[type=text] {
      &:focus {
        width: 300px;
        background-color: white;
      }


      padding: 8px 14px;
      padding-left: 35px;
      line-height: 14px;
      border: none;
      border-radius: 100px;
      width: 150px;
      background-color: @menubarSearchBackgroundColor;
      transition: 0.1s ease-in;
    }
  }


  .menubar-item {
    display: inline-block;
    height: @menubarHeight;
    line-height: @menubarHeight;
    overflow: hidden;
    padding: 0px 21px;

    &.menubar-title {
      font-size: 21px;
      font-weight: 300;
      color: white;
      margin: 0;
    }

    &.menubar-back {
      &:hover {
        background-color: #133047;
      }
      height: @menubarHeight;
      font-size: 21px;

      color: white;
      background-color: #0E2435;
    }

    /*
    The logo container for the sidebar
  */
    &



    &.menubar-tab {
      &:hover {
        text-decoration: none;
        color: white;
      }
      &.selected {
        color: white;
      }

      color: #8999ab;
      text-decoration: none;
      text-align: center;

      font-size: 14px;
    }

  }
}





.menubar-user {
  float: right;
}

/*
    A horizontal tab in the sidebar
    :hover             - White text color
    .selected          - Subtle darker background, white text color
*/
