<div class="page">
    <div class="page-top">
        <div class="page-top-buttons">
            <button class="btn btn-action" ng-click="logout()" ng-show="user.uid == SessionService.currentUser.uid">Logout</button>
        </div>
        <h1>Case Finder</h1>
    </div>

    <div>
        <div class="nodata">
            You can use the Case Finder to look for cases that have disorders and clinical features.
        </div>
        <div class="separated">
            <h3 class="resource-block-heading">Disorders</h3>
            <typeahead multi="true" model="disorders"
                       placeholder="What disorder do you want to look for?"
                       options-fn="findDisorders(value)"
                       token-chosen-fn="disorderChosen(token)"
                    ></typeahead>
        </div>
        <div class="separated">
            <h3 class="resource-block-heading">Clinical Features</h3>
            <typeahead multi="true"
                       model="hpos"
                       placeholder="What clinical feature do you want to look for?"
                       options-fn="findHpos(value)"></typeahead>
        </div>
        <div class="separated nodata" ng-show="!patients.length">
            No patients recorded.
        </div>
        <table class="separated table" ng-show="patients.length">
            <tr>
                <th></th>
                <th>Patient</th>
                <th>Diagnoses</th>
            </tr>
            <tbody ng-repeat="patient in patients | orderBy:predicate:reverse" >
            <tr>
                <td>
                    <a href="#/patient/{{ patient.id }}/summary">
                        <i class="icon icon-lock" ng-show="patient.access == 'none'"></i>
                    </a>
                </td>
                <td>
                    <a href="#/patient/{{ patient.id }}/summary" class="highlight">
                        {{ patient.name }}
                    </a>
                </td>

                <td>
                    <a href="#/patient/{{ patient.id }}/diagnoses"
                       class="" ng-show="patient.diagnoses.length > 0">
                        {{ patient.diagnoses[0].disorder.name }}
                    </a>
                    <a href="#/patient/{{ patient.id }}/diagnoses" ng-show="patient.diagnoses.length > 1"
                       class="">
                        + {{ patient.diagnoses.length - 1 }} more
                    </a>

                    <a ng-show="!patient.diagnoses.length" href="#/patient/{{ patient.id }}/diagnoses" class="nodata">
                        No diagnosis
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


</div>