<div>
    <div class="content-title">
        {{ group.name }}
    </div>
    <!--<h2> <a href="#/patient" class="btn btn-primary">New Patient</a></h2>-->

    <table class="table content-table">
        <tr>
            <th>Patient</th>
            <th>Physician</th>
            <th>Diagnosis</th>
            <th>Shares</th>
            <th></th>
        </tr>
        <tr ng-repeat="patient in patients">
            <td>
                <a href="#/patient/{{ patient.id }}/summary-dashboard">Patient {{ patient.id }}</a>
            </td>
            <td>
                <a>{{ patient.user.name }}</a>
            </td>
            <td>
                <a href="#/patient/{{ patient.id }}/diagnoses">
                    <span ng-show="patient.diagnoses.length">
                        {{ patient.diagnoses[0].disorder.name }}
                        <span ng-show="patient.diagnoses.length > 1">+ {{ patient.diagnoses.length - 1 }} More</span>
                    </span>
                    <span ng-show="patient.diagnoses.length == 0">
                        No diagnosis
                    </span>
                </a>
            </td>
            <td>
                <a href="#/patient/{{ patient.id }}/community">{{ patient.share_count }}</a>
            </td>
            <td>
                <div class="dropdown">
                    <button data-toggle="dropdown"><i class="icon icon-ellipsis-vertical"></i></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href>Edit</a></li>
                        <li role="presentation" ng-click="deletePatient(patient)"><a role="menuitem" tabindex="-1" href>Delete</a></li>
                        <li role="presentation" class="divider"></li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>

</div>
