<div>
    <div class="block">
        <div class="block-header">
            <h2>Patients</h2>
        </div>
        <div class="block-content">
            <div class="nodata" ng-show="!patients.length">
                No patients shared with {{ group.name }}.
            </div>
            <table class="table" ng-show="patients.length">
                <tr>
                    <th>ID</th>
                    <th>Physician</th>
                </tr>
                <tr ng-repeat="patient in patients">
                    <td>
                        <a href="#/patient/{{ patient.id }}/summary">
                            #{{ patient.id }}
                        </a>
                    </td>
                    <td>
                        <a href="#/patient/{{ patient.id }}/summary">
                            {{ patient.user.name }}
                        </a>
                    </td>
                </tr>
            </table>

            <div ng-show="isMoreToLoad" class="btn-more-wrapper">
                <i class="icon icon-refresh icon-spin" ng-show="isLoadingMore"></i>
                <button class="btn btn-more" ng-click="loadMore()" ng-show="!isLoadingMore">
                    Load More
                </button>
            </div>

        </div>
    </div>
</div>
