<div>

    <h1>
        <span style="font-size: 14px">
            <a href="#/patients/my-patients">My Patients</a> <i class="icon icon-angle-right"></i> <a href="#/patient/{{ patient.id }}">Patient {{ patient.id }}</a> <i class="icon icon-angle-right"></i>
        </span>
        <br/>
        Case Details</h1>

    <div class="col-md-9" style="padding: 0px 21px">
        <div class="group-item" style="background-color: white; border-radius: 1px; border: 1px solid #ddd">
            <h3 style="margin: 0; padding: 14px 21px; ">Clinical Summary <button ng-click="edit()"><i class="icon icon-pencil"></i></button> </h3>

            <div class="block-info" style="padding: 21px; line-height: 28px ">
                <text-block value="patient.clinical_summary" model="patient"></text-block>
            </div>
        </div>

        <div class="group-item">
            <h3>X-Rays </h3>

            <div ng-repeat="xray in xrays" class="block-info">
                {{ xray | json }}
            </div>
        </div>

        <div class="group-item" style="background-color: white; border-radius: 1px; border: 1px solid #ddd">
            <h3 style="margin: 0; padding: 14px 21px; ">Genetic Report
                <button ng-click="addGeneMutation()" class="btn btn-primary"><i class="icon icon-plus"></i></button>
            </h3>

            <!-- Button trigger modal -->

            <table class="table table-info">
                <tr>
                    <th>Description</th>
                    <th>Gene</th>
                    <th>Mutation Type</th>
                    <th>Pathogenicity</th>
                    <th></th>
                </tr>
                <tr ng-repeat="geneMutation in geneMutations">
                    <td>
                        <value-block value="geneMutation.name" model="geneMutation"></value-block>
                    </td>
                    <td>
                        <select-block value="geneMutation.gene_id" model="geneMutation"></select-block>
                    </td>
                    <td>
                        <value-block value="geneMutation.mutation_type_id" model="geneMutation"></value-block>
                    </td>
                    <td>
                        <value-block value="geneMutation.pathogenic" model="geneMutation"></value-block>
                    </td>
                    <td>
                        <button ng-show="!geneMutation.id" ng-click="createGeneMutation(geneMutation)">
                            <i class="icon icon-save"></i>
                        </button>

                        <button ng-click="deleteGeneMutation(geneMutation)" class="btn btn-action btn-action-remove">
                            <i class="icon icon-trash"></i>
                        </button>
                    </td>

                </tr>
            </table>
        </div>

        <div class="group-item">
            <h3 >Diagnoses
                <button ng-click="addPatientDiagnosis()" class="btn btn-primary"><i class="icon icon-plus"></i></button>
            </h3>

            <div ng-repeat="diagnosis in diagnoses" class="block-info">
                <div ng-show="diagnosis.id">
                    {{ diagnosis.disorder.name  }}
                    <button ng-click="deletePatientDiagnosis(diagnosis)">Delete</button>
                </div>
                <div ng-show="!diagnosis.id">
                    <select ng-model="diagnosis.disorder_id" ng-options="disorder.id as disorder.name for disorder in disorders"></select>
                    <button ng-click="createPatientDiagnosis(diagnosis)">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>