<div>
    <div ng-show="currentUser">
        <div class="menubar" ng-show="!content">

            <div class="menubar-left">
                <!-- stuff on the left side of the menu bar -->
                <!-- The logo -->
                <div class="menubar-item menubar-logo">
                    <a href="#">
                        <i class="icon icon-reorder"></i>
                    </a>
                    <a href="#/feed">
                        Archive
                    </a>
                </div>
            </div>

            <div class="menubar-middle">
                <!-- expands to fill the space between left and right -->
            </div>
            <div class="menubar-right">
                <lookup></lookup>
                <!-- stuff on the right side of the menu bar -->
                <!--<div class="menubar-item menubar-notifications">-->
                    <!--<i class="icon icon-bell"></i>-->
                <!--</div>-->
                <div class="menubar-item menubar-search">
                    <input type="text" class="menubar-search" placeholder="Search..."/>
                    <i class="icon icon-search"></i>
                </div>
            </div>






            <!--<a class="menubar-item menubar-tab"
               ng-class="{'selected': tab=='feed'}"
               href="#/feed">
                <i class="icon icon-th-list"></i> Home
            </a>
            <a class="menubar-item menubar-tab"
               ng-class="{'selected': tab=='patient' || tab=='patients'}"
               href="#/patients/my-patients">
                <i class="icon icon-stethoscope"></i> Patients
            </a>
            <a class="menubar-item menubar-tab"
               ng-class="{'selected': tab=='group' || tab=='groups'}"
               href="#/groups/my-groups">
                <i class="icon icon-group"></i> Groups
            </a>-->

        </div>

        <div class="menubar" ng-show="content">
            <div class="menubar-left">
                <!-- stuff on the left side of the menu bar -->
                <!-- The logo -->
                <div class="menubar-item menubar-logo">
                    <a href ng-click="back()">
                        <i class="icon icon-arrow-left"></i>
                    </a>
                    <span ng-show="tab == 'patient'">
                    {{ patient.first_name }} {{ patient.last_name }} <span ng-show="patient.alias && (patient.first_name || patient.last_name)">/</span> {{ patient.alias }}
                    </span>
                    <span ng-show="tab == 'group'">
                        {{ group.name }}
                    </span>

                </div>
            </div>

            <div class="menubar-middle">
                <!-- expands to fill the space between left and right -->
            </div>
            <div class="menubar-right">
                <!-- stuff on the right side of the menu bar -->
                <!--<div class="menubar-item menubar-notifications">-->
                    <!--<i class="icon icon-bell"></i>-->
                <!--</div>-->
                <div class="menubar-item menubar-search">
                    <input type="text" class="menubar-search" placeholder="Search..."/>
                    <i class="icon icon-search"></i>
                </div>
            </div>

            <!--&lt;!&ndash;<div class="menubar-item menubar-buttongroup pull-right">-->
                <!--<a class="btn btn-action" href="">Favourite</a>-->
            <!--</div>&ndash;&gt;-->

            <!--<a class="menubar-item menubar-back pull-right" href ng-click="back()">-->
                <!--<i class="icon icon-remove"></i>-->
            <!--</a>-->

            <!--<h1 class="menubar-item menubar-title" ng-show="!patient.first_name && !group.name">-->
                <!--Loading...-->
            <!--</h1>-->

            <!--<h1 class="menubar-item menubar-title" ng-show="patient.first_name || group.name">-->
                <!--{{ patient.fullName() }} {{ group.name }}-->
            <!--</h1>-->

        </div>
    </div>

</div>

<!--<div class="menubar">-->

    <!--<div ng-switch on="menubarType">-->

        <!--<div ng-switch-when="feed"-->
             <!--ng-include="'common/navigation/menubar/types/feed.tpl.html'">-->
        <!--</div>-->

        <!--<div ng-switch-when="patients"-->
             <!--ng-include="'common/navigation/menubar/types/patients.tpl.html'">-->
        <!--</div>-->

        <!--<div ng-switch-when="patient"-->
             <!--ng-include="'common/navigation/menubar/types/patient.tpl.html'">-->
        <!--</div>-->
        <!--<div ng-switch-when="share"-->
             <!--ng-include="'common/navigation/menubar/types/share.tpl.html'">-->
        <!--</div>-->

        <!--<div ng-switch-when="groups"-->
             <!--ng-include="'common/navigation/menubar/types/groups.tpl.html'">-->
        <!--</div>-->

        <!--<div ng-switch-when="group"-->
             <!--ng-include="'common/navigation/menubar/types/group.tpl.html'">-->
        <!--</div>-->

        <!--<div ng-switch-when="user"-->
             <!--ng-include="'common/navigation/menubar/types/user.tpl.html'">-->
        <!--</div>-->

    <!--</div>-->

<!--</div>-->