<div>
    <div class="header">
        <div class="header-title">
            My Patients
        </div>
        <div class="header-search">
            <div class="search">
                <i class="icon icon-search"></i>
                <input type="text" placeholder="Search" ng-model="search"/>
                <ul class="search-results" ng-show="search.length">
                    <li class="search-result" ng-repeat="patient in patients | filter:search">
                        <a href="">
                            {{ patient.id }} - {{ patient.fullName() }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="header-buttons">
            <button class="btn btn-action" ng-click="showAutosharing()">Autosharing</button>
            <button class="btn btn-action" ng-click="showCreatePatient()">Create</button>
        </div>
    </div>

    <table class="table-content">
        <tr>
            <th>ID <i class="icon icon-sort-down"></i></th>
            <th>Patient</th>
            <th>Diagnoses</th>
            <th>Share</th>
            <th></th>
        </tr>
        <tr ng-repeat="patient in patients | orderBy:predicate:reverse | filter:search">
            <td>
                <a href="#/patient/{{ patient.id }}/summary-dashboard">
                    #00{{ patient.id }}
                </a>
            </td>
            <td>
                <a href="#/patient/{{ patient.id }}/summary-dashboard">
                    {{ patient.fullName() }}
                </a>
            </td>

            <td>
                <a href="#/patient/{{ patient.id }}/diagnoses">
                    <span class="label label-primary">{{ patient.diagnoses[0].disorder.name }}</span>
                </a>
                <span ng-show="patient.diagnoses.length > 1">
                    <a href="">
                        <span class="label label-primary">+ {{ patient.diagnoses.length - 1 }} more</span>
                    </a>
                </span>

                <span ng-show="!patient.diagnoses.length">
                    <a href="#/patient/{{ patient.id }}/diagnoses">
                        No diagnosis
                    </a>

                </span>
            </td>

            <td>
                <a href="">
                    <a class="label label-primary" href="#/patient/{{ patient.id }}/share/{{ patient.shares[0].id }}">{{ patient.shares[0].group.name }}</a>
                </a>
                <span ng-show="patient.shares.length > 1">
                    <a href="">
                        <span class="label label-primary">+ {{ patient.shares.length - 1 }} more</span>
                    </a>
                </span>
                <span ng-show="!patient.shares.length" >
                    No shares
                </span>
            </td>

            <td>
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-action btn-action-small dropdown-toggle" data-toggle="dropdown">
                        <i class="icon icon-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="" ng-click="showSharePatient(patient)"><i class="icon icon-share-alt"></i> Share</a></li>
                        <li><a href="" ng-click="showDeletePatient(patient)"><i class="icon icon-trash"></i> Delete</a></li>
                        <!--<li class="divider"></li>-->
                        <!--<li><a href="#">Separated link</a></li>-->
                    </ul>
                </div>
            </td>
        </tr>
    </table>

    <!--<table class="table content-table">
        <tr>
            <th>Patient</th>
            <th>Diagnosis</th>
            <th>Shares</th>
            <th></th>
        </tr>
        <tbody ng-repeat="patient in patients">
            <tr>
                <td>
                    <a href="#/patient/{{ patient.id }}/summary-dashboard">{{ patient.id }} - {{ patient.first_name }} {{ patient.last_name }}</a>
                </td>
                <td>
                    <a href="#/patient/{{ patient.id }}/diagnoses">
                    <span ng-show="patient.diagnoses.length">
                        {{ patient.diagnoses[0].disorder.name }}
                        <span ng-show="patient.diagnoses.length > 1">+ {{ patient.diagnoses.length - 1 }} More</span>
                    </span>
                    <span ng-show="patient.diagnoses.length == 0">
                        No diagnosis
                    </span>
                    </a>
                </td>
                <td>
                    <a href="#/patient/{{ patient.id }}/community">{{ patient.share_count }}</a>
                </td>
                <td>
                    <savecancel-block></savecancel-block>
                </td>
            </tr>
        </tbody>
    </table>-->

    <smodal name="autosharing">

        <div class="smodal-title">
            Autosharing
        </div>
        <div class="smodal-description" >
            Autosharing allows you to <b>automatically share new patient</b> you add with selected groups.<br/>
        </div>
        <div class="smodal-content">
            <table class="sform">
                <tr class="sform-row">
                    <td class="sform-label">
                        <label>Share</label>
                    </td>
                    <td>
                        <div class="sform-inputs">
                            <typeahead multi="true" model="autosharing.groups" options-fn="findGroup(value)" placeholder="What groups do you want to share new patients with?"></typeahead>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="smodal-buttons">
            <div class="pull-right">
                <button class="btn btn-action" ng-click="$close()">Cancel</button>
                <button class="btn btn-action btn-action-selected">Share</button>
            </div>
        </div>
    </smodal>

    <smodal name="deletePatient">
        <div class="smodal-title">
            Delete Patient
        </div>
        <div class="smodal-description" >
            Are you sure you want to delete this patient?
        </div>
        <div class="smodal-buttons">
            <div class="pull-right">
                <button class="btn btn-action" ng-click="$close()">Cancel</button>
                <button class="btn btn-action btn-action-selected" ng-click="$close(); deletePatient(patientToDelete)">Delete #{{ patientToDelete.id}} {{ patientToDelete.fullName() }}</button>
            </div>
        </div>
    </smodal>

    <smodal name="sharePatient">

        <div class="smodal-title">
            Share Patient
        </div>
        <div class="smodal-description" >

            Who do you want to share <b>#{{ $parent.patientSharing.patient.id}} {{ $parent.patientSharing.patient.fullName() }}</b> with?
        </div>
        <div class="smodal-content">
            <table class="sform">
                <tr class="sform-row">
                    <td class="sform-label">
                        <label>Share</label>
                    </td>
                    <td>
                        <typeahead multi="true" model="$parent.patientSharing.groups" options-fn="findGroup(value)" placeholder="What groups do you want to share the patient with?"></typeahead>
                    </td>
                </tr>
            </table>
        </div>
        <div class="smodal-buttons">
            <div class="pull-right">
                <button class="btn btn-action" ng-click="$close()">Cancel</button>
                <button class="btn btn-action btn-action-selected" ng-click="$close(); sharePatientWithGroups($parent.patientSharing.patient, $parent.patientSharing.groups)">Share</button>
            </div>
        </div>
    </smodal>


    <smodal name="createPatient">
        <div class="smodal-title">
            Create a Patient
        </div>
        <div class="smodal-description" >
            Proin mattis ipsum sed euismod tempor. Sed pretium turpis ac malesuada suscipit. Sed mollis facilisis tortor, vel mattis elit blandit ac.
        </div>
        <div class="smodal-content">
            <table class="sform">
                <tr class="sform-row">
                    <td class="sform-label"><label for="first_name">Name</label></td>
                    <td><div class="sform-inputs sform-inputs2">
                        <input type="text" id="first_name" placeholder="First Name" ng-model="newPatient.first_name"/><input type="text" id="last_name" placeholder="Last Name" ng-model="newPatient.last_name" />
                    </div></td>
                </tr>
                <tr class="sform-row">
                    <td class="sform-label">
                        <label for="alias">Alias (opt)</label>
                    </td>
                    <td>
                        <div class="sform-inputs">
                            <input type="text" id="alias" placeholder="Alias" ng-model="newPatient.alias"/>
                        </div>
                    </td>
                </tr>
                <tr class="sform-row">
                    <td>
                        <label>Share</label>
                    </td>
                    <td>
                        <div class="sform-inputs">
                            <typeahead multi="true" model="newPatient.groups" options-fn="findGroup(value)" placeholder="Who do you want to share this patient with?"></typeahead>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="smodal-buttons">
            <div class="pull-right">
                <button class="btn btn-action" ng-click="$close()">Cancel</button>
                <button class="btn btn-action btn-action-selected" ng-click="createPatient(newPatient)">Create</button>
            </div>
        </div>
    </smodal>


</div>
