<div class="inputblock">

    <!-- Has a model ID (means its saved in the database and we are editing -->
    <div ng-show="!isEditing">
        <div class="inputblock-values">
            {{ value.group.name }}
        </div>
    </div>

    <div ng-show="isEditing">
        <input class="inputblock-input valueblock-input inputblock-lookup" type="text" ng-model="lookupGroupName" ng-change="lookupGroupNameChanged(lookupGroupName)" />
        <div>
            <div ng-repeat="group in lookupResults">
                {{ group.name }}
            </div>
        </div>
    </div>
</div>