.main {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background-color: white;
  z-index: 99;
  border-right: 1px solid #dbe1e3;
}
.main-loggedin {
  top: 60px;
}
.main-submenubar {
  top: 120px;
}
.main-sidebar {
  left: 230px;
}
.main-activities {
  right: 45%;
  background-color: white;
}
.main-feed {
  background-color: #dce2e4;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  top: 60px;
  left: 0;
  right: auto;
  width: 230px;
}
.feed {
  padding: 14px 0px;
  background-color: #dce2e4;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
.submenubar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  top: 60px;
  left: 0px;
  right: 0px;
  bottom: auto;
  height: 60px;
}
/**
  * A Section of content on a page
  *
  * Has a header and a content block. Multiple sections of content
  * can be stacked on top of each other
  */
.block {
  margin: 14px;
}
.block + .block {
  margin-top: 28px;
}
.block-header {
  border-bottom: 1px solid #dbe1e3;
  padding: 14px;
  border-top: none;
  padding-top: 0;
  padding-bottom: 0px;
  position: relative;
  background-color: white;
  height: 40px;
}
.block-header h2 {
  font-size: 21px;
  margin: 0;
  font-weight: 400;
  color: #000000;
}
.block-header .block-header-buttons {
  position: absolute;
  right: 14px;
  top: -5px;
}
.block-table {
  border-top: none;
  background-color: white;
  width: 100%;
}
.block-table tr {
  border: none;
}
.block-table th {
  border: none !important;
  color: #4D718D;
  border-bottom: 1px solid #dbe1e3 !important;
  font-weight: 600;
  padding: 14px 21px;
  background-color: white;
}
.block-table td {
  padding: 10px 21px;
  font-weight: normal;
  border-top: none;
  border-bottom: 1px solid #dbe1e3;
  color: #1E3346;
}
.block-table td.is-editing {
  padding: 0;
}
.block-content {
  padding: 14px;
  padding-bottom: 14px;
}
.block-content.block-content-clear {
  background-color: #E1E6E9 !important;
}
/*
A small search embeddable in the header box

:hover             - Subtle hover highlight.
.stars-given       - A highlight indicating you've already given a star.
.stars-given:hover - Subtle hover highlight on top of stars-given styling.
.disabled          - Dims the button to indicate it cannot be used.

Styleguide 2.1.3.
*/
table.table-content {
  border-top: none;
  background-color: white;
  width: 100%;
}
.table-content tr {
  border: none;
}
.table-content th {
  border: none !important;
  color: #4D718D;
  border-bottom: 1px solid #dbe1e3 !important;
  font-weight: 600;
  padding: 14px 21px;
  background-color: white;
}
.table-content td {
  padding: 10px 21px;
  font-weight: normal;
  border-top: none;
  border-bottom: 1px solid #dbe1e3;
  color: #1E3346;
}
.table-content td.is-editing {
  padding: 0;
}
.btn:active {
  box-shadow: none;
}
.btn-more {
  background-color: transparent;
  border: none;
  padding: 0;
  color: #949a9c;
}
/*
A button suitable for giving stars to someone.

:hover             - Subtle hover highlight.
.stars-given       - A highlight indicating you've already given a star.
.stars-given:hover - Subtle hover highlight on top of stars-given styling.
.disabled          - Dims the button to indicate it cannot be used.

Styleguide 2.1.3.
*/
.btn-action {
  border: 1px solid #bddadf;
  border-radius: 3px;
  background-color: transparent;
  padding: 5px 10px;
  outline: none !important;
  color: #78b3be;
  -webkit-box-shadow: 0 1px 0px #9ac7cf;
  background-color: white;
}
.btn-action:hover {
  color: #849eb0;
}
.btn-action:active {
  background-color: #ebf2f7;
  -webkit-box-shadow: none;
}
.btn-action:focus {
  color: #49a9ba;
  box-shadow: 0px 0px 5px #49a9ba;
}
.btn-action.btn-action-selected {
  background-color: #49a9ba;
  border: 1px solid #49a9ba;
  border-bottom: 1px solid #4099a9;
  -webkit-box-shadow: 0 1px 0px #398997;
  color: white;
}
.btn-action.btn-action-selected:hover,
.btn-action.btn-action-selected:focus {
  background-color: #6ebac8;
  border: 1px solid #6ebac8;
  color: white;
}
.btn-action.btn-action-selected:active {
  background-color: #398997;
  border: 1px solid #398997;
  -webkit-box-shadow: inset 0 1px 0px #2b6772;
}
.btn-action-small {
  padding: 3px 9px;
}
.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: inset 0 1px 0px #dbe1e3;
  color: #96A6B1;
}
.btn-search {
  background-color: transparent;
  border: 0;
  color: #81A0A2;
  font-size: 14px;
  position: relative;
  top: 10px;
  left: 5px;
}
.dropdown-menu > li > a {
  text-decoration: none !important;
  color: #49a9ba;
}
.dropdown-menu > li > a:hover {
  color: white !important;
  text-decoration: none;
  background-color: #49a9ba !important;
}
.btn-link {
  color: #49a9ba;
  padding: 0;
}
.label {
  background-color: white;
  border: 1px solid #f76969;
  color: #f76969;
}
.label:hover {
  background-color: white;
}
.label + .label {
  margin-left: 2px;
}
.padded {
  padding: 14px;
}
.white {
  background-color: white;
}
.separated + .separated {
  margin-top: 14px;
}
.separated.separated-small + .separated.separated-small {
  margin-top: 7px;
}
.divided + .divided {
  margin-top: 14px;
  border-top: 1px solid #cdd5d8;
  padding-top: 14px;
}
/*
.box {
  padding: @defaultSpace;
}
  .box-element+.box-element {
    margin-top: @defaultSpace;
  }
.border {
  border: 1px solid @borderColor;
  margin: @defaultSpace;
  background-color: white;
}
.border+.border {
  border-top: none;
  margin-top: none;
}

.box .border {
  margin: 0px;
}*/
.nodata {
  color: #949a9c;
}
.gallery-item {
  float: left;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border: 1px solid red;
  margin: 0px 14px 14px 0 !important;
  cursor: pointer;
}
.resource {
  /** Height allows for the button */
  min-height: 35px;
  /** Controls like edit / delete buttons */
  /** A block of content for the resource e.g. (first name + last name, or date of birth) */
}
.resource.is-editing .resource-block {
  margin-right: 0px;
  border: 1px solid #dbe1e3;
  background-color: white;
  padding: 14px;
  margin-bottom: 0px;
  border-bottom: none;
  background-color: #f4f6f7;
}
.resource.is-editing .resource-block:last-of-type {
  border-bottom: 1px solid #dbe1e3;
}
.resource.is-editing .resource-block.no-edit {
  background-color: white;
  border: none;
  padding: 0px;
}
.resource input[type=text],
.resource input[type=password],
.resource textarea {
  width: 100%;
  box-sizing: border-box;
}
.resource .resource-controls {
  float: right;
}
.resource .resource-block {
  /** No margin on the last one */
  margin-bottom: 14px;
  /** A heading for a block (can have multiple per block) */
}
.resource .resource-block:last-of-type {
  margin-bottom: 0px;
}
.resource .resource-block.resource-block-has-buttons {
  margin-right: 80px;
}
.resource .resource-block .resource-block-element {
  margin-bottom: 14px;
}
.resource .resource-block .resource-block-element.resource-block-element:last-of-type {
  margin-bottom: 0px;
}
.resource .resource-block .resource-block-clinsum {
  line-height: 28px;
}
.label-top,
.resource-block-heading {
  display: block;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  margin-bottom: 7px;
  text-transform: uppercase;
  color: #49a9ba;
}
.label-right {
  padding-right: 14px;
  margin-bottom: 0;
  color: #616769;
  font-weight: normal;
}
.label-right input {
  margin-right: 5px;
}
.resource + .resource {
  margin-top: 28px;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
.comments {
  background-color: #f3f6f7;
}
.comment {
  background-color: #f3f6f7;
  border-top: 1px solid #dbe1e3;
  padding: 14px;
  padding: 10px;
}
.comment ::-webkit-input-placeholder {
  color: #949a9c;
}
.comments-more {
  background-color: #f3f6f7;
  border-top: 1px solid #dbe1e3;
  padding: 14px;
  padding: 10px;
  padding: 10px 14px;
}
.comments-more ::-webkit-input-placeholder {
  color: #949a9c;
}
.comment.ng-leave {
  -webkit-transition: 0.1s linear all;
  transition: 0.1s linear all;
  position: relative;
  height: 50px;
  overflow: hidden;
  top: 0px;
}
.comment.ng-leave.ng-leave-active {
  height: 0px;
  top: -20px;
  opacity: 0;
  padding: 0px;
  margin: 0px;
  border-width: 0px;
}
.comment.ng-enter {
  /* standard transition code */
  -webkit-transition: 0.1s linear all;
  transition: 0.1s linear all;
  opacity: 0;
  position: relative;
  top: 25px;
  z-index: 99;
}
.comment.ng-enter.ng-enter-active {
  /* standard transition styles */
  opacity: 1;
  top: 0px;
  z-index: 99;
}
/**
  * An individual activity */
.activity {
  margin-bottom: 14px;
  border: 1px solid #dbe1e3;
}
.activity a {
  transition: color 0.2s;
}
.activity a:hover {
  text-decoration: underline;
}
.activity:hover a {
  color: #49a9ba !important;
}
.activity:hover .mentions a {
  text-decoration: underline;
  color: #49a9ba !important;
}
.activity .activity-diagnosis-name {
  font-weight: 600;
}
.activity .activity-content {
  padding: 14px;
  background-color: white;
}
.activity .activity-content-box + .activity-content-box {
  margin-top: 14px;
  border-top: 1px solid #dbe1e3;
  padding-top: 14px;
}
.activity .activity-content-box-message {
  color: #616769;
}
.activity .activity-group {
  font-size: 12px;
  text-transform: uppercase;
  color: #798184;
}
.activity .activity-group .icon {
  margin-right: 7px;
}
.activity-patient-name {
  color: #303334;
  font-weight: 600;
}
.activity-patient-color {
  display: inline-block;
  height: 14px;
  width: 14px;
  position: relative;
  top: 2px;
  border-radius: 100px;
}
.activity-patient .activity-patient-more {
  margin-top: 14px;
}
.activity-patient .activity-patient-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.activity-patient .activity-patient-menu li {
  display: inline-block;
  margin: 0;
}
.activity-patient .activity-patient-menu li button {
  padding: 4px 8px;
  background-color: white;
  border-radius: 2px;
  color: #949a9c;
  border: none;
}
.activity-patient .activity-patient-menu li button.selected {
  color: #303334;
  border: 1px solid #dbe1e3;
  border-bottom: none !important;
  position: relative;
  top: 1px;
  z-index: 1;
}
.activity-patient .activity-patient-content {
  border: 1px solid #dbe1e3;
  padding: 14px;
}
.activity-icon {
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  background-color: #FFBB7B;
  text-align: center;
  color: white;
  font-size: 21px;
}
/**
  * Activity Adder
  */
.adder-tabs {
  margin: 0;
  padding: 0;
}
.adder-tabs li {
  display: inline-block;
  list-style: none;
}
.adder-tabs .adder-tab {
  position: relative;
  top: 1px;
  padding: 10px 14px;
  display: block;
  background-color: #f2f5f6;
  border: 1px solid #f2f5f6;
  border: none;
}
.adder-tabs .adder-tab.active {
  background-color: white;
  z-index: 1;
  border: 1px solid #dbe1e3;
  border-bottom: 0;
}
.adder-content {
  margin-top: 0px;
}
.adder-to {
  border: 1px solid #dbe1e3;
  padding: 7px 14px;
  list-style-type: none;
}
.adder-to .adder-to-label {
  margin-right: 14px;
  position: relative;
  top: 8px;
  color: #949a9c;
}
.adder-to ul {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: auto;
  margin-left: 7px;
}
.adder-to .adder-to-group {
  display: inline-block;
  padding: 7px 14px;
  background-color: #ddeff2;
  border: 1px solid #93ccd6;
  color: #49a9ba !important;
  margin-bottom: 2px;
  font-weight: normal;
  cursor: pointer;
}
.adder-to .adder-to-group + .adder-to-group {
  margin-left: 3px;
}
.adder-to-selected {
  padding: 14px 14px 0 14px;
}
.adder-to-options {
  border-top: 1px solid #dbe1e3;
  max-height: 300px;
  overflow: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}
.adder-to-option + .adder-to-option {
  border-top: 1px solid #dbe1e3;
}
.activities {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  top: 60px;
  left: auto;
  width: 45%;
  overflow: auto;
  /**
  Group activity title
  */
}
.activities .activities-title {
  border-bottom: 1px solid #dbe1e3;
}
.activities .activities-title h2 {
  font-size: 21px;
  font-weight: 400;
  margin: 0;
  color: #616769;
  margin-bottom: 0;
}
.activities .activities-adder {
  padding: 14px;
  border-bottom: 1px solid #dbe1e3;
}
.activities .activities-content {
  padding: 14px;
}
.activities-listitem.ng-enter {
  /* standard transition code */
  -webkit-transition: 0.1s linear all;
  transition: 0.1s linear all;
  opacity: 0;
  position: relative;
  top: 10px;
}
.activities-listitem.ng-enter.is-adding {
  top: -100px;
}
.activities-listitem.ng-enter-stagger,
.activities-listitem.ng-leave-stagger {
  /* this will have a 100ms delay between each successive leave animation */
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  /* in case the stagger doesn't work then these two values
   must be set to 0 to avoid an accidental CSS inheritance */
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
.activities-listitem.ng-enter.ng-enter-active {
  /* standard transition styles */
  opacity: 1;
  top: 0px;
}
.label {
  font-weight: 400;
  letter-spacing: 0.5px;
}
.submenubar {
  border-right: 1px solid #dbe1e3;
  background-color: white;
  height: 60px;
}
.submenubar.submenubar-activities {
  margin-right: 45%;
}
.submenubar ul {
  padding-left: 0px;
  margin-bottom: 0px;
  margin: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid #dbe1e3;
}
.submenubar ul li {
  list-style: none;
  display: inline-block;
}
.submenubar .submenubar-item {
  display: block;
  padding: 4px 12px;
  color: #949a9c;
  border-radius: 100px;
}
.submenubar .submenubar-item.selected {
  border: 1px solid #f76969;
  color: #f76969;
}
/**
 *
 * The Manu BAR
 *
 * The Blue main menubar across the top of the page
 *
 */
.menubar {
  background-color: #5cabba;
  color: #F3F3F3;
  vertical-align: middle;
  height: 60px;
  top: 0px;
  width: 100%;
  transition: background-color 0.1s;
  /* When showing an element */
}
.menubar.menubar-dark {
  background-color: #2c7684;
}
.menubar.menubar-dark .menubar-item.menubar-user {
  border-left: 1px solid #2B636D;
}
.menubar .menubar-left {
  float: left;
  height: 60px;
}
.menubar .menubar-left.ng-hide-add {
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
  opacity: 1;
}
.menubar .menubar-left.ng-hide-add.ng-hide-add-active {
  opacity: 0;
}
.menubar .menubar-left.ng-hide-remove {
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
  /* this needs to be here to make it visible during the animation
       since the .ng-hide class is already on the element rendering
       it as hidden. */
  display: block!important;
  opacity: 0;
}
.menubar .menubar-left,
.menubar .menubar-left.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}
.menubar .menubar-right {
  float: right;
  height: 60px;
}
.menubar .menubar-notifications {
  font-size: 18px;
}
.menubar .typeahead {
  transition: 0.2s all;
  width: 150px;
  border-radius: 100px;
  position: relative;
  top: 11px;
  right: 11px;
  padding: 0;
  border: none;
}
.menubar .typeahead.focus {
  width: 300px;
}
.menubar .typeahead.focus input[type=text] {
  background-color: white;
}
.menubar .typeahead .icon {
  top: 0px;
}
.menubar .typeahead .typeahead-option {
  padding: 10px;
  border: 1px solid #dbe1e3;
  color: #616769;
}
.menubar .typeahead .typeahead-option.selected {
  background-color: #ddeff2;
  border: 1px solid #93ccd6;
  color: #49a9ba;
}
.menubar .typeahead input[type=text] {
  background-color: #398997;
  color: #49a9ba;
  border-radius: 100px;
  padding: 7px 14px;
}
.menubar .menubar-item {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  padding: 0px 21px;
  /*
    The logo container for the sidebar
  */
}
.menubar .menubar-item.menubar-search {
  line-height: inherit;
}
.menubar .menubar-item.menubar-user {
  border-left: 1px solid #5298A5;
  font-weight: normal;
  color: #c3e0e6;
  position: relative;
  top: -2px;
  transition: 0.3s color;
}
.menubar .menubar-item.menubar-user:hover,
.menubar .menubar-item.menubar-user.selected {
  color: white;
}
.menubar .menubar-item.menubar-user.selected {
  background-color: white;
}
.menubar .menubar-item.menubar-user img {
  margin-right: 7px;
  position: relative;
  top: -3px;
}
.menubar .menubar-item.menubar-title {
  font-size: 21px;
  font-weight: 300;
  color: white;
  margin: 0;
}
.menubar .menubar-item.menubar-back {
  height: 60px;
  font-size: 21px;
  color: white;
  background-color: #2A606F;
}
.menubar .menubar-item.menubar-back:hover {
  background-color: #0e3c48;
}
.menubar .menubar-item .menubar .menubar-item.menubar-tab {
  color: #8999ab;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
}
.menubar .menubar-item .menubar .menubar-item.menubar-tab:hover {
  text-decoration: none;
  color: white;
}
.menubar .menubar-item .menubar .menubar-item.menubar-tab.selected {
  color: white;
}
.lookup-results {
  position: absolute;
  z-index: 99;
}
/*
    A horizontal tab in the sidebar
    :hover             - White text color
    .selected          - Subtle darker background, white text color
*/
/*
    A typehead that can either have a single token, or multi-token entry
*/
.typeahead input,
.typeahead button,
.typeahead textarea {
  outline: 0;
}
/**
    Text inputs and text areas
*/
.typeahead input[type=text],
.typeahead textarea {
  padding: 10px 14px;
}
.typeahead input[type=text].full-width,
.typeahead textarea.full-width {
  width: 100%;
  box-sizing: border-box;
}
.typeahead {
  border: 1px solid #dbe1e3;
  position: relative;
}
.typeahead input {
  border: none;
  box-sizing: border-box;
  width: 100%;
}
.typeahead-loader {
  position: absolute;
  top: 2px;
  right: 0;
  padding: 10px 14px;
  opacity: 0.8;
}
.typeahead-icon {
  position: absolute;
  top: 3px;
  right: 0;
  padding: 10px 14px;
  opacity: 0.3;
}
/*
    A dark blue token with a remove X on the right side
*/
.typeahead-token {
  text-align: left;
}
.typeahead-token:active {
  position: relative;
  top: 1px;
}
/*
    Single Token: A large token (for single entry) full width
*/
.typeahead-token-single {
  display: block;
  padding: 10px 14px;
  width: 100%;
  background-color: #ddeff2;
  border: 1px solid #93ccd6;
  color: #49a9ba;
}
.typeahead-token-single .icon-remove {
  margin-left: 10px;
  position: relative;
  top: 3px;
}
/*
    Multi Tokens: Padding around the collection of tokens
*/
.typeahead-tokens {
  padding: 10px;
  background-color: white;
}
/*
    Multi Token: A small inline token
*/
.typeahead-token-multi {
  display: inline-block;
  background-color: #ddeff2;
  border: 1px solid #93ccd6;
  color: #49a9ba !important;
  padding: 5px 12px;
  border-radius: 3px;
  margin-right: 7px;
  margin-bottom: 7px;
}
/*
    Options list: The auto-complet edropdown that displays suggestions for tokens
*/
.typeahead-options-wrapper {
  position: relative;
  z-index: 99999;
}
.typeahead-options {
  position: absolute;
  left: 5px;
  cursor: pointer;
  background-color: white;
  border-top: none;
  list-style-type: none;
  padding: 0;
  min-width: 200px;
}
.typeahead-options-inside {
  top: -7px;
}
.typeahead-option {
  padding: 10px;
  border: 1px solid #dbe1e3;
}
.typeahead-option + .typeahead-option {
  border-top: 1px solid white;
}
.typeahead-option.selected {
  background-color: #ddeff2;
  border: 1px solid #93ccd6;
  color: #49a9ba;
}
.sidebar {
  background-color: #f4f6f7;
  border: 1px solid #dbe1e3;
}
.sidebar .sidebar-box {
  border-bottom: 1px solid #dbe1e3;
  padding: 14px;
}
.sidebar .sidebar-menu {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}
.sidebar .sidebar-menu li + li {
  margin-top: 10px;
}
.sidebar-menu-item {
  color: #303334;
  display: block;
}
.sidebar-menu-item.selected {
  color: #49a9ba;
}
.sidebar-menu-item .icon {
  opacity: 0.6;
  margin-right: 10px;
}
.user .user-username {
  text-transform: capitalize;
  font-weight: 600;
}
.user .user-username a {
  color: #181919;
  font-weight: 600;
}
.user .user-username a:hover {
  text-decoration: underline;
}
.user .user-date {
  color: #aeb3b5;
}
.user .user-userinfo {
  color: #494d4e;
  font-weight: 400;
}
.user-picture {
  width: 30px;
  height: 30px;
  border-radius: 100px;
}
.user-picture.user-picture-large {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}
.table {
  border-top: none;
}
.table tbody > tr > th {
  background-color: #f4f6f7;
  font-weight: 600;
  border-top: none;
  color: #303334;
}
.table tbody > tr > td {
  border: none !important;
  padding: 6px !important;
  margin: 0px !important;
  vertical-align: middle;
}
.table tbody > tr > td a.highlight {
  color: #49a9ba;
}
.table tr:hover.is-editing td {
  background-color: white;
}
.table tr:hover td {
  background-color: #eff8f9;
}
.table tr:hover a {
  color: #49a9ba;
  text-decoration: underline;
}
.table tbody {
  border: none !important;
}
.page {
  padding: 14px;
}
.page .page-top h1 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  color: #000000;
  font-size: 28px;
  margin-top: 7px;
  margin-bottom: 28px;
}
.page .page-top .page-top-buttons {
  float: right;
  position: relative;
  top: 0px;
}
.page .page-top .page-top-buttons button + button {
  margin-left: 7px;
}
.resource.ng-enter,
.resource.ng-leave,
.resource.ng-move {
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
  position: relative;
}
.resource.ng-enter {
  left: -50px;
  opacity: 0;
}
.resource.ng-enter.ng-enter-active {
  left: 0;
  opacity: 1;
}
.resource.ng-leave {
  left: 0;
  opacity: 1;
}
.resource.ng-leave.ng-leave-active {
  left: -50px;
  opacity: 0;
}
.resource.ng-move {
  opacity: 0.5;
}
.resource.ng-move.ng-move-active {
  opacity: 1;
}
.mentions a {
  transition: color 0.2s;
  color: #494d4e;
}
.mentions:hover a {
  color: #49a9ba;
}
.mentions a:hover {
  text-decoration: underline;
}
.mentions-modal {
  padding: 21px;
}
.mentions-modal .mentions-modal-title {
  font-size: 21px;
  margin-bottom: 14px;
  font-weight: 300;
}
.mentions-modal p {
  line-height: 28px;
}
.gallery {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background-color: rgba(123, 134, 136, 0.95);
}
.gallery .gallery-content {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  position: absolute;
  background-color: white;
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
}
.gallery .gallery-content .gallery-stuff {
  margin: 14px;
}
.gallery .gallery-content .gallery-description {
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 35%;
}
.gallery .gallery-content .gallery-image {
  background-color: black;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 65%;
}
.gallery .gallery-content .gallery-image img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
}
/*
    A modal box
*/
.smodal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  background-color: white;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 2000;
  border-radius: 3px;
  box-shadow: 0px 3px 10px rgba(99, 124, 144, 0.3);
  border: 1px solid #dbe1e3;
  padding: 21px;
}
/* When hiding an element */
.smodal.ng-hide-add {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  opacity: 1;
}
.smodal.ng-hide-add.ng-hide-add-active {
  opacity: 0;
}
/* When showing an element */
.smodal.ng-hide-remove {
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
  /* this needs to be here to make it visible during the animation
     since the .ng-hide class is already on the element rendering
     it as hidden. */
  display: block!important;
  opacity: 0;
  top: 49%;
}
.smodal,
.smodal.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  top: 50%;
}
/*
    The overlay that sits behind the modal box
*/
.smodal-overlay {
  position: fixed;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(242, 246, 247, 0.72);
}
.smodal-block + .smodal-block {
  margin-top: 14px;
}
/*
    The title of the modal overlay
*/
.smodal-title {
  font-weight: 300;
  font-size: 28px;
  margin-bottom: 28px;
}
.smodal-buttons {
  overflow: hidden;
}
.smodal-buttons button {
  margin-left: 7px;
}
.smodal-block-element {
  margin-bottom: 14px;
}
.smodal-block-element input[type=text],
.smodal-block-element textarea {
  width: 100%;
  box-sizing: border-box;
}
.smodal-block-element.smodal-block-element:last-of-type {
  margin-bottom: 0px;
}
.progress {
  height: 15px;
  margin: 0;
}
.progress .progress-bar {
  background-color: #49a9ba;
}
.progress .progress-bar-danger {
  background-color: #24565f;
}
.activity-diagnosis .activity-diagnosis-name {
  font-weight: 600;
}
.activity-diagnosis .progress {
  height: 5px;
  margin: 0;
  width: 182px;
}
.activity-diagnosis .progress .progress-bar {
  background-color: #49a9ba;
}
.activity-diagnosis .progress .progress-bar-danger {
  background-color: #24565f;
}
.lookup {
  background-color: blue;
}
.lookup input {
  background-color: red;
}
.lookup .lookup-results {
  background-color: yellow;
}
.lookup .lookup-results a {
  display: block;
  padding: 14px;
  background-color: orange;
}
.mmodal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  max-height: 80%;
  z-index: 2000;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transition: 0.3s all;
  overflow: auto;
  box-shadow: 0px 0px 40px 0px rgba(30, 52, 57, 0.30000000000000004);
}
.mmodal.ng-animate {
  border: 1px solid transparent;
}
.mmodal .mmodal-content {
  background-color: white;
  height: 100%;
  overflow: auto;
}
.mmodal.mmodal-gallery {
  max-width: 90%;
  width: 70%;
  max-height: 80%;
  height: 80%;
}
.mmodal.ng-hide-add .mmodal-content,
.mmodal.ng-hide-remove .mmodal-content {
  transition: 0.2s ease-out all;
}
.mmodal.ng-hide-add,
.mmodal.ng-hide-remove {
  display: block!important;
}
.mmodal.ng-hide-remove .mmodal-content {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
}
.mmodal.ng-hide-remove.ng-hide-remove-active .mmodal-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.mmodal.ng-hide-add .mmodal-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.mmodal.ng-hide-add.ng-hide-add-active .mmodal-content {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
}
.moverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(242, 246, 247, 0.72);
}
.moverlay.ng-hide-add,
.moverlay.ng-hide-remove {
  transition: 0.3s linear all;
  display: block!important;
}
.moverlay.ng-hide-add {
  opacity: 1;
}
.moverlay.ng-hide-add.ng-hide-add-active {
  opacity: 0;
}
.moverlay.ng-hide-remove {
  opacity: 0;
}
.moverlay.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}
.login {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #dce2e4;
}
.logo {
  font-size: 21px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
}
.logo.logo-dark {
  color: #000000;
}
.logo.logo-dark a {
  color: #000000;
}
.logo a {
  color: white;
}
.logo a:hover {
  color: white;
}
.logo .icon {
  margin-right: 7px;
}
.mentionmodal {
  border: 1px solid #dbe1e3;
  position: fixed;
  z-index: 99999;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  background-color: white;
  padding: 14px;
  overflow: auto;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}
.xray-modal {
  position: relative;
  height: 100%;
}
.xray-modal .xray-modal-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  background-color: black;
  overflow: hidden;
  line-height: 100%;
}
.xray-modal .xray-modal-image img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
}
.xray-modal .xray-modal-content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
}
body {
  background-color: #e1e6e9;
  color: #616769;
  font-family: "Source Sans Pro";
  font-size: 14px;
  line-height: 21px;
}
/**
  * Creates a bordered box
*/
.bordered {
  border: 1px solid #dbe1e3;
  background-color: white;
}
.spaced {
  padding: 14px;
}
.spaced-bottom {
  margin-bottom: 14px;
}
.spaced-bottom-none {
  margin-bottom: 0px;
}
/**
  * Creates a panel locked to all 4 edges of the page
  *
  * Edge locking can be turned off by setting a property to auto
*/
.panel {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
/*
    Headings
*/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Source Sans Pro" !important;
}
h2 {
  font-weight: 300;
  font-size: 28px;
}
h3 {
  font-weight: 300;
  font-size: 21px;
}
h4 {
  font-weight: 300;
}
/*
    Emphasis
*/
/*
    Anchors
*/
a {
  color: #616769;
}
a:hover {
  text-decoration: none;
  color: #494d4e;
}
/*
A button suitable for giving stars to someone.

:hover             - Subtle hover highlight.
.stars-given       - A highlight indicating you've already given a star.
.stars-given:hover - Subtle hover highlight on top of stars-given styling.
.disabled          - Dims the button to indicate it cannot be used.

Styleguide 2.1.3.
*/
.form-label {
  color: #637C90;
}
/*
A button suitable for giving stars to someone.

:hover             - Subtle hover highlight.
.stars-given       - A highlight indicating you've already given a star.
.stars-given:hover - Subtle hover highlight on top of stars-given styling.
.disabled          - Dims the button to indicate it cannot be used.

Styleguide 2.1.3.
*/
.placeholder {
  color: #4D718D;
}
/*
A button suitable for giving stars to someone.

:hover             - Subtle hover highlight.
.stars-given       - A highlight indicating you've already given a star.
.stars-given:hover - Subtle hover highlight on top of stars-given styling.
.disabled          - Dims the button to indicate it cannot be used.

Styleguide 2.1.3.
*/
input,
button,
textarea {
  border: 1px solid #dbe1e3;
  outline: 0;
}
/**
    Text inputs and text areas
*/
input[type=text],
input[type=password],
textarea {
  padding: 10px 14px;
}
input[type=text].full-width,
textarea.full-width {
  width: 100%;
  box-sizing: border-box;
}
.story {
  width: 500px;
  background-color: white;
  border: 1px solid #dbe1e3;
  margin-top: 14px;
  margin-left: 14px;
  color: red;
}
.story-content {
  padding: 14px;
}
.content-section {
  margin-bottom: 35px;
}
.content-heading {
  font-size: 21px;
  font-weight: 300;
  border-bottom: 1px solid #D8E1E8;
  padding-bottom: 14px;
  margin-bottom: 14px;
  padding-left: 7px;
  margin-top: 7px;
}
.content-heading-buttons {
  float: right;
  position: relative;
  top: -7px;
}
.votebox {
  margin-bottom: 7px;
}
.votebox-buttonwrapper {
  display: inline-block;
  padding-right: 7px;
}
.votebox-buttonwrapper button {
  width: 110px;
  text-align: center;
}
/*
    A form (often used in the modal boxes)
*/
.sform {
  width: 100%;
  padding-left: 14px;
}
.sform-row td {
  padding-bottom: 14px;
}
.sform-label {
  position: relative;
  top: 3px;
  width: 120px;
  margin-right: 14px;
  text-align: right;
  white-space: nowrap;
  vertical-align: top;
}
.sform-label label {
  text-align: right;
}
.sform-inputs {
  width: 100%;
}
.sform-inputs input {
  width: 100%;
}
.sform-inputs2 input {
  width: 49%;
  box-sizing: border-box;
}
.sform-inputs2 input:first-of-type {
  margin-right: 2%;
}
.form-patient .input-wrapper input {
  width: 100%;
}
/*
A small search embeddable in the header box

:hover             - Subtle hover highlight.
.stars-given       - A highlight indicating you've already given a star.
.stars-given:hover - Subtle hover highlight on top of stars-given styling.
.disabled          - Dims the button to indicate it cannot be used.

Styleguide 2.1.3.
*/
.search {
  border: 1px solid #dbe1e3;
  padding-left: 7px;
  border-radius: 100px;
  color: #96A6B1;
  position: relative;
}
.search input {
  padding: 5px 10px;
  padding-left: 0px;
  margin-left: 5px;
  outline: none;
  width: 200px;
  border: none;
}
.search-results {
  position: absolute;
  background-color: white;
  left: 11px;
  border: 1px solid #dbe1e3;
  width: 90%;
}
.dropdown-menu {
  border-radius: 0px;
  padding: 0;
  box-shadow: none;
  border: 1px solid #dbe1e3;
  border-bottom: 2px solid #dbe1e3;
}
.dropdown-menu > li > a {
  padding: 8px 12px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #417BAE;
}
/*
    A block containing the title of a content page, search and buttons relevant to the page.
    Styleguide 2.1.3.
*/
.header {
  padding: 21px 14px;
  height: 65px;
  border: 1px solid #dbe1e3;
  border-left: none;
  background-color: white;
}
.header-title {
  font-size: 28px;
  font-weight: 300;
  float: left;
}
.header-search {
  float: left;
  position: relative;
  margin-left: 14px;
  top: -6px;
}
.header-search input {
  border-radius: 100px;
}
.header-buttons {
  float: right;
  position: relative;
  top: -6px;
}
.header-buttons button {
  margin-left: 7px;
}
.scircle {
  display: inline-block;
  margin-right: 1px;
  margin-bottom: 2px;
  height: 14px;
  width: 14px;
  text-align: center;
  box-sizing: border-box;
  color: white;
  border-radius: 3px;
  font-size: 14px;
  line-height: 28px;
}
.scircle-more {
  background-color: #88a8bf;
  /*#417BAE;*/
}
.scircle-user {
  background-color: #B9CBDA;
  font-size: 18px;
  position: relative;
  top: 2px;
}
.content-box {
  padding: 14px !important;
  border-bottom: 1px solid #DFE7EC !important;
  background-color: white;
}
.content-table {
  border: none;
  border-bottom: 1px solid #dfe6ea !important;
  table-layout: fixed;
}
.content-table tr th {
  background-color: white;
  color: #A7B5BE;
  border-top: none !important;
  padding: 14px !important;
  font-weight: normal;
}
.content-table td {
  background-color: white;
  border-top: 1px solid #dfe6ea !important;
  padding: 14px !important;
}
/*
The menubar element
*/
/*
    The heading for the menu
*/
/*
    A sidebar item (a vertical tab)
    :hover             - White text color
    :selected          - Thick red border on left side
*/
/*.menubar-item {
    display: block;
    padding: 14px 21px;

    background-color: #1d384b;
    border-left: 5px solid #1d384b;

    font-weight: 300;
    color: #969FAD;
}
    .menubar-item:hover {
        color: white;
        text-decoration: none;
    }
    .menubar-item.selected, a.menubar-item.selected:hover {
        border-left: 5px solid #EC5858;
        margin-right: 1px;
        color: white;
        text-decoration: none;
        font-weight: 400;
    }

.menubar-item-inner {

    padding-left: 14px;
    background-color: #193040;
}
.menubar-item-item {
    padding: 7px 28px;
    margin-bottom: 0px;
    border-left: 5px solid #193040;
    background-color: transparent;
}*/
/**
 * Quick Access box
 *
 * Displays quick access information on feed page
 */
.quickaccess {
  border: 1px solid #dbe1e3;
  background: white;
}
.section {
  background-color: white;
  padding: 21px;
  margin-bottom: 21px;
}
header {
  background-color: #376264;
}
.group-item {
  margin-bottom: 28px;
}
.group-item:last-of-type {
  margin-bottom: 0;
}
.btn.btn-title {
  font-size: 14px;
  border: 2px solid #B7CFE4;
  background-color: white;
}
.btn.btn-primary {
  background-color: #6F91AA;
  border: none;
  border-radius: 100px;
  padding: 6px 18px;
  font-size: 10px;
  padding: 2px 5px;
}
.navbar-archive {
  border-radius: 0px;
  background-color: #376264;
  color: #2e82be;
  margin-bottom: 0;
  height: 75px;
}
.navbar-nav-archive > li > a {
  color: #2e82be;
  padding-top: 26px;
  padding-bottom: 26px;
}
.uploadblock {
  overflow: hidden;
}
/**
  * Dropzone
  */
.dropzone .preview,
.dropzone-previews .preview {
  margin: 0;
}
.dropzone {
  border: 2px dashed #dbe1e3;
  min-height: 160px;
  color: #616769;
  font-weight: 600;
  text-align: center;
  line-height: 160px;
}
.is-editable:hover {
  background-color: #FFFCD4;
  cursor: text;
}
.is-editable:hover.is-editing {
  background-color: transparent;
}
.inputblock-values {
  padding: 7px;
}
.inputblock-info {
  color: grey;
}
.inputblock-buttons {
  padding: 7px;
}
.inputblock-input {
  padding: 7px;
  background-color: #FFFCD4;
  border: 1px solid #F9EBB6;
}
.valueblock-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
}
.textblock-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
}
/*
A button suitable for giving stars to someone.

:hover             - Subtle hover highlight.
.stars-given       - A highlight indicating you've already given a star.
.stars-given:hover - Subtle hover highlight on top of stars-given styling.
.disabled          - Dims the button to indicate it cannot be used.

Styleguide 2.1.3.
*/
.addressblock-row {
  margin-bottom: 7px;
}
.addressblock-areas {
  overflow: hidden;
  margin-bottom: 2px;
}
.addressblock-area {
  float: left;
  margin-right: 2px;
}
/*
A button suitable for giving stars to someone.

:hover             - Subtle hover highlight.
.stars-given       - A highlight indicating you've already given a star.
.stars-given:hover - Subtle hover highlight on top of stars-given styling.
.disabled          - Dims the button to indicate it cannot be used.

Styleguide 2.1.3.
*/
.dateblock-date {
  overflow: hidden;
  display: block;
}
.dateblock-date-input {
  width: 100%;
}
.add-on {
  position: relative;
  top: 10px;
  margin-left: 7px;
}
.savecancel {
  text-align: right;
}
.btn.btn-save {
  background-color: #47a0d6;
  color: white;
  padding: 2px 10px;
}
.btn.btn-cancel {
  background-color: transparent;
  color: #3e4a55;
  padding: 2px 10px;
  padding-left: 7px;
}
.cke_top {
  transition: 10s all;
}
