@import "comment.less";
@activityPadding: 14px;

/**
  * An individual activity */
.activity {
  a {
    transition: color 0.2s;
  }
  a:hover {
    text-decoration: underline;
  }
  &:hover {
    a {
     color: @highlightColor !important;
    }
    .mentions a {
      text-decoration: underline;
    }
  }


  margin-bottom: 14px;
  border: 1px solid @borderColor;


  .activity-content {
    .spaced;
    background-color: white;
  }

  .activity-content-box + .activity-content-box {
    margin-top: @activityPadding;
    border-top: 1px solid @borderColor;
    padding-top: @activityPadding;
  }

  .activity-content-box-message {
    color: @bodyTextColor;
  }

  // The group's name the activity belongs to
  .activity-group {
    .icon {
      margin-right: 7px;
    }
    font-size: 12px;
    text-transform: uppercase;
  }
}



.activity-patient {
  h4 {
    color: darken(@bodyTextColor, 20%);
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    margin-bottom: 14px;
  }
  .activity-patient-more {
    margin-top: 14px;
  }
  .activity-patient-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      margin: 0;
      button {
        &.selected {
          color: @submenuSelectedTextColor;
          border: 1px solid @borderColor;
          border-bottom: none !important;
          position: relative;
          top: 1px;
          z-index: 1;

        }
        padding: 4px 8px;
//        border-bottom: 1px solid @borderColor !important;
        background-color: white;
        border-radius: 2px;
        color: @submenuTextColor;
        border: none;
      }
    }
  }
  .activity-patient-content {
    border: 1px solid @borderColor;
    .spaced;
  }
}
