@import "activity.less";
@import "adder.less";

.activities {
  .panel;
  top: @menubarHeight;
  left: auto;
  width: @activitiesWidth;
//  border-left: 1px solid @borderColor;

  /**
  Group activity title
  */
  .activities-title {
    h2 {
      font-size: 21px;
      font-weight: 400;
      margin: 0;
      color: @labelTextColor;
      margin-bottom: 0;
    }

    border-bottom: 1px solid @borderColor;
  }


  .activities-adder {
    .spaced;
    border-bottom: 1px solid @borderColor;
  }
  .activities-content {
    .spaced;
  }
}

.activity-box {

}

