/**
  * Activity Adder
  */
.activity-adder {

  .activity-adder-tabs {
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      list-style: none;
    }

    .activity-adder-tab {
      &.active {
        background-color: white;
        z-index: 1;
        border: 1px solid @borderColor;
        border-bottom: 0;
      }

      position: relative;
      top: 1px;
      padding: 10px 14px;
      display: block;
      @inactiveAdderTabBackgroundColor: #F2F5F6;
      background-color: @inactiveAdderTabBackgroundColor;
      border: 1px solid @inactiveAdderTabBackgroundColor;
      border: none;
    }
  }

}
