/**
  * Activity Adder
  */
.adder {
}

.adder-tabs {
//  padding: 14px 14px 0 14px;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    list-style: none;
  }

  .adder-tab {
    &.active {
      background-color: white;
      z-index: 1;
      border: 1px solid @borderColor;
      border-left: none;
      border-top: none;
      border-bottom: 0;
    }

    position: relative;
    top: 1px;
    padding: 7px 14px;
    display: block;
    font-weight: 600;
    @inactiveAdderTabBackgroundColor: #F2F5F6;
    background-color: @inactiveAdderTabBackgroundColor;
    border: 1px solid @inactiveAdderTabBackgroundColor;
    border: none;
  }
}

.adder-content {
  margin-top: 0px;
}


// The To Box
.adder-to {
  border: 1px solid @borderColor;
  padding: 7px 14px;
  list-style-type: none;
  .adder-to-label {
    margin-right: 14px;
    position: relative;
    top: 8px;
    color: @placeholderTextColor;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: auto;
    margin-left: 7px;
    li {
      display: inline-block;
    }
    li + li {
      margin-left: 3px;
    }
  }

  .adder-to-group {
    display: inline-block;
    padding: 7px 14px;
    background-color: #ddeff2;
    border: 1px solid #93ccd6;
    color: #49a9ba !important;
    margin-bottom: 2px;
    font-weight: normal;
    cursor: pointer;
  }
  .adder-to-group + .adder-to-group {
    margin-left: 3px;
  }

}
// The selected tokens container
.adder-to-selected {
  padding: 14px 14px 0 14px;
}

// The list of options to choose from
.adder-to-options {
  border-top: 1px solid @borderColor;
  max-height: 300px;
  overflow: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}


.adder-to-option + .adder-to-option {
  border-top: 1px solid @borderColor;
}