.comment {
  background-color: @commentBackgroundColor;
  border-top: 1px solid @borderColor;
  .spaced;
  padding: 10px;

  ::-webkit-input-placeholder {
    color: @placeholderTextColor;
  }

}
.comments-more {
  .comment;
  padding: 10px 14px;
}