<div>
    <div class="page">
        <div class="page-top">
            <div class="page-top-buttons">
                <!--<button class="btn btn-action" ng-click="showCreatePatient()"><i class="icon icon-plus-sign"></i>  Patient</button>-->
            </div>
            <h1>All Groups</h1>
        </div>
        <div class="nodata">
            No groups found.
        </div>
        <table class="table" ng-show="groups.length">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Members</th>
                <th>Patients</th>
                <th>Membership</th>
            </tr>
            <tr ng-repeat="group in groups | filter:search">
                <!-- Groups -->
                <td>
                    <a href="#/group/{{ group.id }}" class="highlight">
                        <span ng-show="group.membership"><i class="icon icon-user"></i></span> {{ group.name }}
                    </a>
                </td>

                <td>
                    <div ng-bind-html="group.description | limitTo:50">
                    </div>
                </td>


                <!-- Members -->
                <td>
                    <a href="#/group/{{ group.id }}/members">
                        {{ group.member_count || "0" }}
                    </a>
                </td>

                <td>
                    <a href="#/group/{{ group.id }}/patients">
                        {{ group.patient_count || "0" }}
                    </a>
                </td>

                <td>
                    <button ng-show="!group.membership_id" class="btn btn-action btn-action-selected" ng-click="joinGroup(group)">Join</button>
                    <span ng-show="group.membership_id" class="nodata">Joined</span>
                </td>
            </tr>
        </table>
    </div>

    <smodal name="leaveGroup">
        <div class="smodal-title">
            Leave Group
        </div>
        <div class="smodal-description" >
            Are you sure you want to leave this group?
        </div>
        <div class="smodal-buttons">
            <div class="pull-right">
                <button class="btn btn-action" ng-click="$close()">Cancel</button>
                <button class="btn btn-action btn-action-selected" ng-click="$close(); leaveGroup(groupToLeave)">Leave {{ groupToLeave.name }}</button>
            </div>
        </div>
    </smodal>


</div>