<div class="activity">
    <!-- Structure of an activity
        - content
            - Group Name (optional)
            - User block + activity description
            - 0..n content blocks
        - Comment block
    -->

    <div class="white padded">


        <div class="divided">
            <div class="media user">
                <div class="pull-left">
                    <img ng-src="{{ activity.user.picture.thumb_url || activity.user.picture.url || 'img/default.png' }}" alt="" class="user-picture" />
                </div>
                <div class="media-body">
                    <div class="user-date pull-right" ng-show="activity.created">{{ activity.created | relativedate }}</div>
                    <div>
                        <a href="#/user/{{ activity.user.uid }}" class="user-username"> {{ activity.user.name }}</a>

                        <span ng-show="activity.post.disorder_id > 0">added a diagnosis to</span>
                        <span ng-show="activity.post.text.length > 0 && activity.post.disorder_id == 0">wrote on </span>
                        <span ng-show="activity.type == 'share'">shared </span>
                    </div>
                    <div class="separated">
                        <a href="" ng-click="activity.$isShowingPatientInfo = !activity.$isShowingPatientInfo" class="activity-patient-name">{{ activity.patient.name }}</a> in

                        <a href="#/group/{{ activity.group.id }}/summary">{{ activity.group.name }}</a>
                    </div>
                    <div ng-show="activity.$isShowingPatientInfo" class="separated">
                        <cm-activity-patient></cm-activity-patient>
                    </div>
                </div>
            </div>
        </div>


        <div class="divided" ng-if="activity.post.text.length">
            <div class="media">
                <div class="pull-left">
                    <div class="activity-icon">
                        <i class="icon icon-comment-alt"></i>
                    </div>
                </div>
                <div class="media-body">
                    <mentions text="activity.post.text" mentions="activity.post.mentions"></mentions>
                </div>
            </div>


        </div>
        <div class="divided separated" ng-if="activity.post.disorder_id > 0">
            <div class="media">
                <div class="pull-left">
                    <div class="activity-icon">
                        <i class="icon icon-stethoscope"></i>
                    </div>
                </div>
                <div class="media-body">
                    <cm-activity-diagnosis diagnosis-post="activity.post"></cm-activity-diagnosis>
                </div>
            </div>
        </div>
    </div>

    <cm-comments></cm-comments>



    <!--<div class="activity-box">
        {{ activity.group.name }}
    </div>
    <div class="activity-box">
        <div class="media">
            <div class="pull-left">
                <img src="img/shatner.png" alt=""/>
            </div>

            <div class="media-body">
                <a href="#/user/{{ activity.uid }}" class="activity-user">
                    Dr {{ activity.user.name }}
                </a>

                <div>
                    <span class="activity-message" ng-switch on="activity.type">
                        <span ng-switch-when="share">
                            shared <a href="#patient/{{ activity.share.patient_id }}">Patient #{{
                            activity.share.patient_id }}</a> with <a
                                href="#/group/{{ activity.share.group.id }}">{{
                            activity.share.group.name }}</a>
                        </span>
                        <span ng-switch-default>
                            added a {{ activity.type }}
                        </span>

                    </span>
                    <span class="activity-time" ng-show="activity.created">
                        - {{ activity.created*1000 | date:'medium' }}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div ng-switch on="activity.type">

        <div ng-switch-when="post">
            <div class="activity-box">
                <mentions text="activity.post.text" mentions="activity.post.mentions"></mentions>
            </div>
        </div>
        <div ng-switch-when="diagnosis">
            <div class="media activity-box" cm-diagnosis="activity.diagnosis">


                <div class="activity-icon pull-left">
                    <i class="icon-stethoscope icon"></i>
                </div>
                <div class="media-body">
                    <div class="activity-title">
                        {{ activity.diagnosis.disorder.name }}
                    </div>
                    <div>
                        <div class="votebox">
                            <span class="votebox-buttonwrapper">
                                <button class="btn btn-action"
                                        ng-click="voteUpDiagnosis(activity.diagnosis)">
                                    <i class="icon icon-thumbs-up-alt"></i> Agree ({{
                                    usersVotesUp.length }})
                                </button>
                            </span>

                            <cm-facepile users="usersVotesUp" limit="7"></cm-facepile>
                        </div>


                        <div class="votebox">
                            <span class="votebox-buttonwrapper">
                                <button class="btn btn-action"
                                        ng-click="voteDownDiagnosis(activity.diagnosis)">
                                    <i class="icon icon-thumbs-down-alt"></i> Disagree ({{
                                    usersVoteDown.length }})
                                </button>
                            </span>

                            <cm-facepile users="usersVoteDown" limit="7"></cm-facepile>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="activity-box">
        <div class="activity-box-element">
            <h3>Patient #{{ activity.patient.id}} </h3>
            <h3 class="resource-block-heading">Clinical Summary</h3>
            <mentions text="activity.patient.clinical_summary" mentions="activity.patient.mentions"></mentions>
        </div>
    </div>-->

</div>