<div class="activity">
    <!-- Structure of an activity
        - content
            - Group Name (optional)
            - User block + activity description
            - 0..n content blocks
        - Comment block
    -->

    <div class="white padded">
        <div class="divided" ng-if="embedContent">
            <a href="#/group/{{ activity.group.id }}">
                <i class="icon icon-user-md"></i>
                {{ activity.group.name }}
            </a>
        </div>
        <div class="divided">
            <div class="media">
                <div class="pull-left">
                    <img src="img/shatner.png" alt=""/>
                </div>
                <div class="media-body user">
                    <div class="user-username">
                        <a href="#/user/{{ activity.user.uid }}">Dr {{ activity.user.name }}</a>
                    </div>
                    <div class="user-info">

                    <span ng-switch on="activity.type">
                        <span ng-switch-when="post">
                            <span ng-show="activity.post.disorder_id == 0">
                                sent a message about <a href="#/patient/{{ activity.patient.id }}">Patient #{{ activity.patient.id }}</a> to
                                <a href="#/group/{{ activity.group.id }}/summary">{{ activity.group.name }}</a>
                            </span>

                            <span ng-show="activity.post.disorder_id">
                                added a diagnosis for <a href="#/patient/{{ activity.patient.id }}">Patient #{{ activity.patient.id }}</a> in
                                <a href="#/group/{{ activity.group.id }}/summary">{{ activity.group.name }}</a>
                            </span>
                        </span>
                        <span ng-switch-when="share">
                            shared <a href="#/patient/{{ activity.patient.id }}/summary">Patient #{{ activity.patient.id }}</a> with
                            <a href="#/group/{{ activity.group.id }}">{{ activity.group.name }}</a>

                        </span>
                    </span>
                        <span class="user-date" ng-show="activity.created"> - {{ activity.created | relativedate }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="divided" ng-if="activity.post.text.length">
            <mentions text="activity.post.text" mentions="activity.post.mentions"></mentions>
        </div>
        <div class="divided" ng-if="activity.post.disorder_id > 0">
            <cm-activity-diagnosis diagnosis-post="activity.post"></cm-activity-diagnosis>
        </div>
        <div class="divided" ng-if="embedContent">
            <cm-activity-patient></cm-activity-patient>
        </div>
    </div>


    <cm-comments></cm-comments>



    <!--<div class="activity-box">
        {{ activity.group.name }}
    </div>
    <div class="activity-box">
        <div class="media">
            <div class="pull-left">
                <img src="img/shatner.png" alt=""/>
            </div>

            <div class="media-body">
                <a href="#/user/{{ activity.uid }}" class="activity-user">
                    Dr {{ activity.user.name }}
                </a>

                <div>
                    <span class="activity-message" ng-switch on="activity.type">
                        <span ng-switch-when="share">
                            shared <a href="#patient/{{ activity.share.patient_id }}">Patient #{{
                            activity.share.patient_id }}</a> with <a
                                href="#/group/{{ activity.share.group.id }}">{{
                            activity.share.group.name }}</a>
                        </span>
                        <span ng-switch-default>
                            added a {{ activity.type }}
                        </span>

                    </span>
                    <span class="activity-time" ng-show="activity.created">
                        - {{ activity.created*1000 | date:'medium' }}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div ng-switch on="activity.type">

        <div ng-switch-when="post">
            <div class="activity-box">
                <mentions text="activity.post.text" mentions="activity.post.mentions"></mentions>
            </div>
        </div>
        <div ng-switch-when="diagnosis">
            <div class="media activity-box" cm-diagnosis="activity.diagnosis">


                <div class="activity-icon pull-left">
                    <i class="icon-stethoscope icon"></i>
                </div>
                <div class="media-body">
                    <div class="activity-title">
                        {{ activity.diagnosis.disorder.name }}
                    </div>
                    <div>
                        <div class="votebox">
                            <span class="votebox-buttonwrapper">
                                <button class="btn btn-action"
                                        ng-click="voteUpDiagnosis(activity.diagnosis)">
                                    <i class="icon icon-thumbs-up-alt"></i> Agree ({{
                                    usersVotesUp.length }})
                                </button>
                            </span>

                            <cm-facepile users="usersVotesUp" limit="7"></cm-facepile>
                        </div>


                        <div class="votebox">
                            <span class="votebox-buttonwrapper">
                                <button class="btn btn-action"
                                        ng-click="voteDownDiagnosis(activity.diagnosis)">
                                    <i class="icon icon-thumbs-down-alt"></i> Disagree ({{
                                    usersVoteDown.length }})
                                </button>
                            </span>

                            <cm-facepile users="usersVoteDown" limit="7"></cm-facepile>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="activity-box">
        <div class="activity-box-element">
            <h3>Patient #{{ activity.patient.id}} </h3>
            <h3 class="resource-block-heading">Clinical Summary</h3>
            <mentions text="activity.patient.clinical_summary" mentions="activity.patient.mentions"></mentions>
        </div>
    </div>-->

</div>