@activitiesWidth: 45%;
@menubarHeight: 60px;
@submenubarHeight: 60px;
@sidebarWidth: 230px;
@defaultSpace: 14px;

.main {
  .panel;

  background-color: white;
  z-index: 99;

  border-right: 1px solid @borderColor;
//  background-color: transparent;

//  background-color: white;
}
  .main-loggedin {
    top: @menubarHeight;
  }
  .main-submenubar {
    top: @menubarHeight + @submenubarHeight;
  }
  .main-sidebar {
    left: @sidebarWidth;
  }
  .main-activities {
    right: @activitiesWidth;
    background-color: white;
  }
  .main-feed {
    background-color: @backgroundColorDark;
  }

.sidebar {
  .panel;

  top: @menubarHeight;
  left: 0;
  right: auto;
  width: @sidebarWidth;
}

.feed {
  padding: 14px 0px;
  background-color: @backgroundColorDark;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.submenubar {
  .panel;
  top: @menubarHeight;
  left: 0px;
  right: 0px;
  bottom: auto;
  height: @submenubarHeight;
}


.main {
//  position:relative;
//  overflow-y: hidden;
}
//.main-view.ng-enter, .main-view.ng-leave {
//  -webkit-transition:0.1s linear all;
//  -moz-transition:0.1s linear all;
//  -o-transition:0.5s linear all;
//  transition:0.5s linear all;
//  width: 100%;
//
//  position:absolute;
//}
//.main-view.ng-enter {
//  left: 500px;
//  opacity: 0;
//}
//.main-view.ng-enter.ng-enter-active {
//  left: 0px;
//  opacity: 1;
//}
//
//.main-view.ng-leave {
//  left: 0px;
//  opacity: 1;
//}
//.main-view.ng-leave.ng-leave-active {
//  left: -500px;
//  opacity: 0;
//}