.nodata {
  color: @noDataTextColor;
}
.gallery-item {
  float: left;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border: 1px solid red;
  margin: 0px 14px 14px 0 !important;
  cursor: pointer;
}

.resource {

  &.is-editing {
    .resource-block {
      &:last-of-type {
        border-bottom: 1px solid @borderColor;
      }

      margin-right: 0px;

      .bordered;
      .spaced;
      margin-bottom: 0px;
      border-bottom: none;
      background-color: @backgroundColorLight;
    }
    .resource-block.no-edit {
      background-color: white;
      border: none;
      padding: 0px;
    }
  }

  input[type=text], input[type=password], textarea {
    width: 100%;
    box-sizing: border-box;
  }

  /** Height allows for the button */
  min-height: 35px;

  /** Controls like edit / delete buttons */
  .resource-controls {
    float: right;
  }

  /** A block of content for the resource e.g. (first name + last name, or date of birth) */
  .resource-block {

    /** No margin on the last one */
    &:last-of-type {
      margin-bottom: 0px;
    }
    &.resource-block-has-buttons {
      margin-right: 80px;
    }

    margin-bottom: 14px;


    /** A heading for a block (can have multiple per block) */



    .resource-block-element {
      margin-bottom: 14px;

      &.resource-block-element:last-of-type {
        margin-bottom: 0px;
      }
    }


    .resource-block-clinsum {
      line-height: 28px;
    }



  }
}


  .label-top, .resource-block-heading {
    display: block;
    width: 100%;

    font-weight: 600;
    font-size: 14px;
    margin: 0;
    margin-bottom: 7px;
    text-transform: uppercase;
    color: @highlightColor;

  }

  // Label for a radio button
  .label-right {
    padding-right: 14px;
    margin-bottom: 0;
    color: @labelTextColor;
    font-weight: normal;

    input {
      margin-right: 5px;
    }
  }

.resource + .resource {
  margin-top: @defaultSpace * 2;
}
