<div>
    <div class="block-list">
        <div class="block">
            <div class="block-header">
                <h2>General</h2>
            </div>
            <div class="block-content">
                <div cm-resource="patient">

                    <cm-edit>
                        <form>
                            <div class="resource-block">

                                <div class="resource-block-element clearfix">
                                    <label for="type_name" class="label-right">
                                        <input type="radio" name="type" value="name" id="type_name" ng-model="patient.name_type">
                                        Use Name
                                    </label>

                                    <label for="type_alias" class="label-right">
                                        <input type="radio" name="type" value="alias" id="type_alias" ng-model="patient.name_type">
                                        Use Alias
                                    </label>
                                </div>

                                <div ng-switch on="patient.name_type">
                                    <div ng-switch-when="name">
                                        <div class="resource-block-element">
                                            <label for="first_name" class="resource-block-heading label-top">First Name</label>
                                            <input type="text" id="first_name" placeholder="What's their first name?" ng-model="patient.first_name"/>
                                        </div>
                                        <div>
                                            <label for="last_name" class="resource-block-heading label-top">Last Name</label>
                                            <input type="text" id="last_name" placeholder="What's their last name?" ng-model="patient.last_name"/>
                                        </div>
                                    </div>
                                    <div ng-switch-when="alias">
                                        <label for="alias" class="resource-block-heading label-top" >Alias</label>
                                        <input type="text" id="alias" placeholder="What is the patient's alias?" ng-model="patient.alias"/>
                                    </div>
                                </div>
                            </div>

                            <div class="resource-block">
                                <label for="date_of_birth" class="resource-block-heading label-top">Date Of Birth</label>
                                <input type="text" id="date_of_birth" placeholder="What's their date of birth?" ng-model="patient.dob"/>
                            </div>

                            <div class="resource-block is-editing">
                                <label for="gender_male" class="resource-block-heading label-top">Gender</label>

                                <div >
                                    <label for="gender_male" class="label-right">
                                        <input type="radio" name="gender" value="Male" id="gender_male" ng-model="patient.gender">
                                        Male
                                    </label>

                                    <label for="gender_female" class="label-right">
                                        <input type="radio" name="gender" value="Female" id="gender_female" ng-model="patient.gender">
                                        Female
                                    </label>

                                    <label for="gender_other" class="label-right">
                                        <input type="radio" name="gender" value="Other" id="gender_other" ng-model="patient.gender">
                                        Other
                                    </label>
                                </div>


                            </div>

                            <div class="resource-block">
                                <cm-save-cancel></cm-save-cancel>
                            </div>
                        </form>


                    </cm-edit>



                    <cm-display>
                        <div class="resource-controls">
                            <cm-edit-delete delete-enabled="false"></cm-edit-delete>
                        </div>


                        <div class="resource-block">
                            <h3 class="resource-block-heading">Patient Name</h3>
                            <div>
                                {{ patient.first_name }} {{ patient.last_name }} <span ng-show="patient.alias && (patient.first_name || patient.last_name)">/</span> {{ patient.alias }}
                            </div>

                            <div ng-show="!patient.first_name.length && !patient.last_name.length && !patient.alias.length" class="nodata">
                                No name recorded.
                            </div>
                        </div>

                        <div class="resource-block">
                            <h3 class="resource-block-heading">Date of Birth</h3>
                            {{ patient.dob }}

                            <div ng-show="!patient.dob.length" class="nodata">
                                No Date of Birth recorded.
                            </div>

                        </div>

                        <div class="resource-block">
                            <h3 class="resource-block-heading">Gender</h3>
                            {{ patient.gender }}

                            <div ng-show="!patient.gender.length" class="nodata">
                                No gender recorded.
                            </div>
                        </div>

                        <div class="resource-block">
                            <h3 class="resource-block-heading">Relationships</h3>

                            <div class="nodata">
                                No relations to other patients.
                            </div>

                        </div>

                    </cm-display>

                </div>
            </div>
        </div>

        <div class="block">
            <div class="block-header">
                <div class="block-header-buttons">
                    <button class="btn btn-action" href ng-click="addAddress()"><i class="icon icon-plus-sign"></i> Add</button>
                </div>
                <h2>Addresses</h2>
            </div>
            <div class="block-content">

                <div class="nodata" ng-show="!addresses.length">
                    No address recorded.
                </div>

                <div ng-repeat="address in addresses" cm-resource="address" remove-fn="removeAddress(address)" class="my-repeat-animation">
                    <div >

                        <cm-display>
                            <div class="resource-controls">
                                <cm-edit-delete></cm-edit-delete>
                            </div>
                            <div class="resource-block">
                                <h3 class="resource-block-heading">{{ address.type || "Home" }}</h3>
                                <div>
                                    {{ address.street }}
                                    {{ address.city }}
                                    {{ address.state }}
                                    {{ address.postcode }}
                                    {{ address.country }}
                                </div>
                            </div>
                        </cm-display>

                        <cm-edit>
                            <div class="resource-block">
                                <label class="label-top resource-block-heading">Type</label>
                                <select name="" id="">
                                    <option value="">Home</option>
                                    <option value="">Office</option>
                                    <option value="">Other</option>
                                </select>
                            </div>

                            <div class="resource-block">
                                <div class="resource-block-element">
                                    <label class="label-top resource-block-heading">Street Number</label>
                                    <input type="text" placeholder="What's their street number?" ng-model="address.number"/>
                                </div>

                                <div class="resource-block-element">
                                    <label class="label-top resource-block-heading">Street Address</label>
                                    <input type="text" placeholder="What's their address?" ng-model="address.street"/>
                                </div>

                                <div class="resource-block-element">
                                    <label class="label-top resource-block-heading">City</label>
                                    <input type="text" placeholder="What city do they live in?" ng-model="address.city"/>
                                </div>

                                <div class="resource-block-element">
                                    <label class="label-top resource-block-heading">Post Code</label>
                                    <input type="text" placeholder="What's their post code?" ng-model="address.postcode"/>
                                </div>

                                <div class="resource-block-element">
                                    <label class="label-top resource-block-heading">Country</label>
                                    <input type="text" placeholder="What country do they live in?" ng-model="address.country"/>
                                </div>

                            </div>

                            <div class="resource-block">
                                <cm-save-cancel></cm-save-cancel>
                            </div>
                        </cm-edit>
                    </div>
                </div>
            </div>
        </div>


        <div class="block">
            <div class="block-header">
                <h2>Identifiers</h2>

                <div class="block-header-buttons">
                    <button class="btn btn-action" href ng-click="addIdentifier()"><i class="icon icon-plus-sign"></i> Add</button>
                </div>
            </div>
            <div class="block-content">

                <div class="nodata" ng-show="!identifiers.length">
                    No identifiers recorded.
                </div>

                <div ng-repeat="identifier in identifiers" cm-resource="identifier" remove-fn="removeIdentifier(identifier)">
                    <div >

                        <cm-edit>
                            <div class="resource-block">
                                <div class="resource-block-element">
                                    <label class="label-top resource-block-heading">Name</label>
                                    <input type="text" ng-model="identifier.name"/>
                                </div>

                                <div class="resource-block-element">
                                    <label class="label-top resource-block-heading">Identifier</label>
                                    <input type="text" ng-model="identifier.identifier"/>
                                </div>
                            </div>

                            <div class="resource-block">
                                <cm-save-cancel></cm-save-cancel>
                            </div>

                        </cm-edit>
                        <cm-display>
                            <div class="resource-controls">
                                <cm-edit-delete></cm-edit-delete>
                            </div>
                            <div class="resource-block">
                                <div class="resource-block-element">
                                    <h3 class="resource-block-heading">{{ identifier.name }}</h3>
                                    {{ identifier.identifier }}
                                </div>
                            </div>
                        </cm-display>

                    </div>
                </div>
            </div>
        </div>

        <div class="block">
            <div class="block-header">
                <h2>Phone Number</h2>
                <div class="block-header-buttons">
                    <button class="btn btn-action" href><i class="icon icon-plus-sign"></i> Add</button>
                </div>
            </div>
            <div class="block-content">

                <div class="nodata" ng-show="!phoneNumbers.length">
                    No phone numbers recorded.
                </div>

                <div ng-repeat="phoneNumber in phoneNumbers" cm-resource="phoneNumber">

                </div>
            </div>
        </div>

        <div class="block">
            <div class="block-header">
                <h2>Consent</h2>

                <div class="block-header-buttons">
                    <button class="btn btn-action" href ng-click="addConsentFile()"><i class="icon icon-plus-sign"></i> Add</button>
                </div>
            </div>
            <div class="block-content">

                <div class="nodata" ng-show="!consentFiles.length">
                    No consent files recorded.
                </div>

                <div ng-repeat="consentFile in consentFiles" cm-resource="consentFile" remove-fn="removeConsentFile(consentFile)">
                    <div >
                        <cm-edit>
                            <div class="resource-block">
                                <div class="resource-block-element" ng-show="!consentFile.id">
                                    <label class="label-top resource-block-heading">File</label>
                                    <upload-block message="Drop a file here (or click)" url="{{ fileUploadUrl }}" autoremove="false" uploaded-fn="consentFileUploaded(file, consentFile)"></upload-block>
                                </div>
                                <div class="resource-block-element">
                                    <label class="label-top resource-block-heading">Short Description</label>
                                    <input type="text" placeholder="What is this file about?" ng-model="consentFile.name"/>
                                </div>

                            </div>
                            <div class="resource-block">
                                <cm-save-cancel></cm-save-cancel>
                            </div>
                        </cm-edit>

                        <cm-display>
                            <div class="resource-controls">
                                <cm-edit-delete></cm-edit-delete>
                            </div>
                            <div class="resource-block">
                                <h3 class="resource-block-heading">File</h3>
                                <a ng-href="{{ consentFile.file_url }}" target="_blank">{{ consentFile.name }}</a>
                            </div>
                        </cm-display>
                    </div>

                </div>
            </div>
        </div>

        <div class="block">
            <div class="block-header">
                <h2>Sharing</h2>
                <div class="block-header-buttons">
                    <button class="btn btn-action" href><i class="icon icon-plus-sign"></i> Add</button>
                </div>
            </div>
            <div class="block-content">

                <div class="nodata" ng-show="!shares.length">
                    This patient is not shared with any groups.
                </div>

                <div ng-repeat="share in shares" cm-resource="share">
                    <cm-display>
                        <div class="resource-controls">
                            <cm-edit-delete edit-enabled="false"></cm-edit-delete>
                        </div>
                        <div class="resource-block">
                            <h3 class="resource-block-heading">Group</h3>
                            <a ng-href="#/group/{{ share.group.id }}">{{ share.group.name }}</a>
                        </div>

                    </cm-display>
                </div>
            </div>
        </div>



    </div>
</div>