<div class="comments">
    <div class="comments-more" ng-show="activity.replies.length > commentDisplayCount">
        <button class="btn btn-more" ng-click="showMore()">
            <i class="icon icon-angle-down"></i>
            {{ activity.replies.length - commentDisplayCount }} comments
        </button>
    </div>

    <div ng-repeat="reply in activity.replies | limitTo:-commentDisplayCount"
         class="comment">
        <div class="media">

            <!-- User icon -->
            <div class="pull-left">
                <img ng-src="{{ reply.user.picture.thumb_url || reply.user.picture.url || 'img/default.png' }}" alt="" class="user-picture"/>
            </div>

            <!-- User name + Date + Content -->
            <div class="media-body">

                <div class="user">
                    <span class="user-username">
                        <a href="#/user/{{ reply.user.uid }}">
                            Dr {{ reply.user.name }}
                        </a>
                    </span>
                    <span class="user-info" ng-show="reply.created">
                        <span class="user-date">
                        - {{ reply.created | relativedate }}
                        </span>

                    </span>
                </div>

                <!-- Text -->
                <mentions text="reply.text" mentions="reply.mentions"></mentions>
            </div>
        </div>
    </div>

    <!-- New comment next box -->
    <div class="comment">
        <input type="text" placeholder="Add a comment" class="full-width" ng-model="newComment.text"/>
    </div>
</div>