.user {
  .user-username {
    text-transform: capitalize;
    font-weight: 600;

    a {
      color: @usernameColor;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  .user-info {
    color: @userinfoColor;
  }
  .user-date {
    color: @userDateColor;
  }
}

.user-picture {
  &.user-picture-large {
    width: 40px;
    height: 40px;
    border-radius: 100px;
  }

  width: 16px;
  height: 16px;
  border-radius: 100px;
}