.user {
  .user-username {
    text-transform: capitalize;
    font-weight: 600;

    a {
      color: @usernameColor;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  .user-info {
    color: @userinfoColor;
  }
  .user-date {
    color: @userDateColor;
  }
}
