<div class="padded activity-diagnosis">
    <div class="activities-title divided">
        <h2 class="separated activity-diagnosis-name">
            Group Activity
        </h2>
        <!--<div class="separated" ng-show="shares.length">
            Share your thoughts with a group about this patient or add a new possible diagnosis.
        </div>-->
        <div class="separated nodata" ng-show="!shares.length">
            This patient has not been shared. Share the patient with a group to allow group diagnosis and messaging.
        </div>
    </div>

    <div ng-show="shares.length" class="divided">
        <activity-adder class="divided"></activity-adder>
        <div class="divided separated">
            <select ng-options="share.name for share in shares" ng-model="share" ng-change="isAdding = false; newPost.to[0] = share"></select>

            <select ng-model="type" >
                <option value="all">All</option>
                <option value="post">Post</option>
                <option value="diagnosis">Diagnosis</option>
            </select>
        </div>
        <div class="separated">
            <div ng-repeat="activity in activities | filter:filterPostType" class="separated activities-listitem" ng-class="{'is-adding': isAdding}">
                <cm-activity embed-content="false"></cm-activity>
            </div>
        </div>
    </div>

</div>