<div class="adder">
    <!-- Options -->
    <ul class="adder-tabs">
        <li>
            <button
                class="adder-tab"
                ng-class="{'active': adding == 'post'}" ng-click="adding = 'post'"
                    ><i class="icon icon-envelope"></i>&nbsp;&nbsp; Send Message
            </button>
        <li>
            <button class="adder-tab"
                    ng-class="{'active': adding == 'diagnosis'}"
                    ng-click="adding = 'diagnosis'">
                <i class="icon icon-stethoscope"></i>&nbsp;&nbsp; Add Diagnosis
            </button>
        </li>
    </ul>

    <div class="padded white adder-content">

        <!-- To field -->
        <div class="separated">
            <div class="adder-to">
                <div class="pull-left adder-to-label">TO:</div>
                <ul>
                    <li ng-repeat="share in shares">
                        <label class="adder-to-group" ng-class="{'selected': share.to}">
                            <input type="checkbox" ng-model="share.to"/> {{ share.name }}
                        </label>
                    </li>
                </ul>
            </div>

            <!--<typeahead multi="true" options-fn="findGroups(value)" model="newPost.to" placeholder="TO: Which groups do you want to send the message to?"></typeahead>-->
        </div>

        <!-- The content -->
        <div ng-switch on="adding" class="separated">

            <!-- Text message -->
            <div ng-switch-when="post">
                <div class="box-element">
                    <textarea ng-model="newPost.text"
                              ck-editor
                              ck-editor-usefocus
                              style="height: 43px"
                              placeholder="MESSAGE: Write something about patient #{{ patient.id }}" class="full-width" row="1">
                    </textarea>
                </div>
            </div>

            <!-- Diagnosis -->
            <div ng-switch-when="diagnosis">
                <div class="box-element">
                    <typeahead
                            multi="false"
                            model="newPost.disorder"
                            options-fn="findDisorder(value)"
                            token-chosen-fn="disorderChosen(token, newPost)"
                            placeholder="DIAGNOSIS: What disorder does the patient have?">
                    </typeahead>
                </div>
            </div>
        </div>

        <div class="separated media-body" ng-show="(newPost.text.length > 0 || newPost.disorder) && (shares | filter:{to: true}).length">
            <button ng-click="addPost(newPost)" class="btn btn-action btn-action-selected pull-right">
                <i class="icon icon-envelope-alt"></i>
                Post
            </button>
        </div>
    </div>
</div>