<!--<div class="header">

    <div class="header-buttons">
        <button class="btn btn-action" ng-click="showCreatePatient()">Add New Patient</button>
    </div>
</div>-->
<div class="block">
    <div class="block-header">
        <button class="btn btn-action" ng-click="addGeneMutation()">Add Gene Mutation</button>
    </div>
    <div class="block-content block-content-clear">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div ng-repeat="activity in activitiesEven">
                        <cm-activity></cm-activity>
                    </div>
                </div>
                <div class="col-md-6">
                    <div ng-repeat="activity in activitiesOdd">
                        <cm-activity></cm-activity>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>