<div class="inputblock" ng-class="{'is-editing': isEditing, 'is-editable': isEditable}">
    <!-- Has a model ID (means its saved in the database and we are editing -->
    <div ng-show="model.id">
        <div class="inputblock-values" ng-click="edit()" ng-show="!isEditing">
            <div class="inputblock-value"  ng-show="value">{{ value }}</div>
            <div class="inputblock-info" ng-show="!value">Click to edit</div>
        </div>


        <div ng-show="isEditing">
            <input class="inputblock-input valueblock-input " type="text" ng-model="value" />
            <div class="inputblock-buttons">
                <button class="btn btn-save" ng-click="save()">Save</button>
                <button class="btn btn-cancel" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>

    <!-- No model id, so only show editing -->
    <div ng-show="!model.id">
        <input type="text" ng-model="value" class="form-control"/>
    </div>
</div>