<div>
    <div class="content-title">
       Consent <button class="btn" ng-click="showUpload()">Add</button>
    </div>

    <div class="content-box">
        <div ng-show="isShowingUploadForm">
            <upload-block url="http://localhost:8888/skelarchv2/drupal/upload" message="Upload Consent Files" uploaded-fn="consentUploaded(file)"></upload-block>
        </div>

        <div ng-repeat="consentFile in consentFiles">
            <record resource="consentFile">
                <div>
                    <a href="{{ consentFile.file_url }}" target="_blank">File</a>
                </div>

                <field>
                    <consent-file value="consentFile"></consent-file>
                </field>
            </record>
        </div>
    </div>
</div>
