<div class="login">
    <div ng-show="!currentUser">
        <div class="smodal">
            <div class="block">
                <div class="block-header">
                    <div class="block-header-buttons">
                        <a class="btn btn-action" href="#/register">Register</a>
                    </div>
                    <div class="logo logo-dark">
                        <i class="icon icon-reorder"></i>
                        Archive
                    </div>
                </div>
                <div class="block-content">
                    <form >
                        <div>
                            <ul>
                                <li>smith@example.com test</li>
                                <li>tudor@groza.com test</li>
                            </ul>
                        </div>
                        <div class="alert alert-danger alert-dismissable" ng-show="error">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Sorry!</strong> <span ng-bind-html="error"></span>
                        </div>

                        <div class="resource">
                            <div class="resource-block">
                                <h3 class="resource-block-heading">
                                    Email
                                </h3>
                                <input type="text" ng-model="credentials.mail" class="full-width" placeholder="Enter your email address"/>
                            </div>
                            <div class="resource-block">
                                <h3 class="resource-block-heading">
                                    Password
                                </h3>
                                <input type="password" ng-model="credentials.password" class="full-width" placeholder="Enter your password" />
                            </div>
                            <div class="resource-block media-body">
                                <button class="btn btn-action btn-action-selected pull-right" ng-click="login(credentials)">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>


    <div ng-show="currentUser">
        <button class="btn btn-action" ng-click="logout()">Logout</button>
    </div>
</div>
