<div class="login">
    <div class="smodal">
        <div class="block">
            <div class="block-header">
                <div class="block-header-buttons">
                    <a href="#/login" class="btn btn-action">Back to Login</a>
                </div>
                <h2>Register</h2>
            </div>
            <div class="block-content">
                <form action="">
                    <div class="resource">
                        <div class="resource-block">
                            <div class="resource-block-heading">
                                Name
                            </div>
                            <input type="text" ng-model="user.name" placeholder="What's your full name?"/>
                        </div>
                        <div class="resource-block">
                            <div class="resource-block-heading">
                                Email
                            </div>
                            <input type="text" ng-model="user.mail" placeholder="What's your email address?"/>
                        </div>
                        <div class="resource-block">
                            <div class="resource-block-heading">
                                Password
                            </div>
                            <input type="text" ng-model="user.pass" placeholder="Think of an awesome secure password"/>
                        </div>
                        <div class="resource-block">
                            <div class="resource-block-heading">
                                Confirm password
                            </div>
                            <input type="text" ng-model="user.pass1" placeholder="Type that awesome password again"/>
                        </div>
                        <div class="resource-block media-body">
                            <button class="btn btn-action btn-action-selected pull-right" ng-click="register(user)">Register</button>
                        </div>
                    </div>


                </form>
            </div>

        </div>
    </div>

</div>