<div>
    <div class="content-title">
        Diagnoses
        <button ng-click="addDiagnosis()" class="btn">Add</button>
    </div>
    <div ng-repeat="diagnosis in diagnoses" class="content-box">
        <record resource="diagnosis" remove-fn="remove(diagnosis)">
            <field editable="false">
                <div ng-show="$$prevSibling.isEditing">
                    <select ng-model="diagnosis.disorder_id" ng-options="disorder.id as disorder.name for disorder in disorders"></select>
                </div>
                <div ng-show="!$$prevSibling.isEditing">
                    {{ diagnosis.disorder.name }}
                </div>
            </field>
        </record>
    </div>
</div>
