<div>
    <div class="block">
        <div class="block-header">
            <h2>Information</h2>
            <div class="block-header-buttons">
                <!--<button class="btn btn-action">Hello?</button>-->
            </div>
        </div>
        <div class="block-content">
            <div cm-resource="group">
                <cm-display>
                    <div class="resource-controls">
                        <cm-edit-delete></cm-edit-delete>
                    </div>
                    <div class="resource-block">
                        <h3 class="resource-block-heading">Group Name</h3>
                        {{ group.name }}
                    </div>
                    <div class="resource-block">
                        <h3 class="resource-block-heading">Description</h3>
                        <div ng-bind-html="group.description"></div>
                    </div>
                    <div class="resource-block">
                        <h3 class="resource-block-heading">Administrator</h3>
                        <div>
                            {{ group.administrator.name }}
                        </div>
                    </div>
                </cm-display>
                <cm-edit>
                    <div class="resource-block">
                        <label class="label-top">Group Name</label>
                        <input type="text" ng-model="group.name"/>
                    </div>
                    <div class="resource-block">
                        <label class="label-top" for="test">Description</label>
                        <textarea ng-model="group.description" name="test" id="test" cols="30" rows="10" ck-editor style="height: 300px;"></textarea>
                    </div>
                    <div class="resource-block">
                        <cm-save-cancel></cm-save-cancel>
                    </div>
                </cm-edit>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="block-header">
            <h2>Members</h2>
            <div class="block-header-buttons">
                <button class="btn btn-action" ng-click="addMember()">Add</button>
            </div>
        </div>
        <div class="block-content">
            <div ng-repeat="member in members" cm-resource="member" remove-fn="removeMember(member)">
                <cm-display>
                    <div class="resource-controls">
                        <div class="btn-group pull-right" ng-show="member.user_id != group.uid">
                            <button type="button" class="btn btn-action btn-action-small dropdown-toggle" data-toggle="dropdown">
                                <i class="icon icon-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href ng-click="removeMember(member)">Kick</a></li>
                                <!--<li><a href="" ng-click="showDeletePatient(patient)"><i class="icon icon-trash"></i> Delete</a></li>-->
                            </ul>
                        </div>
                    </div>
                    <div class="resource-block">
                        {{ member.user.name }}
                    </div>
                </cm-display>
                <cm-edit>
                    <div class="resource-block">
                        <label class="label-top">Member</label>
                        <typeahead multi="false" model="member.user" options-fn="findUser(value)" token-chosen-fn="selectedUser(token, member)"></typeahead>
                    </div>
                    <div class="resource-block">
                        <cm-save-cancel></cm-save-cancel>
                    </div>
                </cm-edit>
            </div>
        </div>
    </div>
</div>
<!--<div class="header">
    <div class="header-title">
        Group Information
    </div>
</div>

<div class="content-box row">
<div class="col-md-7">

<div class="content-section">
    <div class="content-heading">
        Description
    </div>
    <div>
        <div cm-resource="group">

            <cm-display>
                <cm-edit-delete></cm-edit-delete>
            </cm-display>

            <table class="sform">
                <tr>
                    <td class="sform-label"><label>Description</label></td>
                    <td>
                        <cm-display>
                            {{ group.description }}
                        </cm-display>
                        <cm-edit>
                            <input type="text" ng-model="patient.first_name" class="full-width"/>
                        </cm-edit>
                    </td>
                </tr>
                <tr>
                    <td class="sform-label"><label>Location</label></td>
                    <td>
                        <cm-display>
                            {{ patient.location }}
                        </cm-display>
                        <cm-edit>
                            <typeahead multi="false" model="group.location"></typeahead>
                        </cm-edit>
                    </td>
                </tr>
                <tr>
                    <td class="sform-label"><label>Administrator</label></td>
                    <td>
                        <cm-display>
                            {{ group.administrator.name }}
                        </cm-display>
                        <cm-edit>
                            <div ng-show="group.administrator.uid == currentUser.uid">
                                <typeahead multi="false" model="group.administrator"></typeahead>
                            </div>
                            <div ng-show="group.administrator.uid != currentUser.uid">
                                {{ group.administrator.name }}
                            </div>
                        </cm-edit>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <cm-edit>
                            <cm-save-cancel save-fn="$save()" cancel-fn="$cancel()"></cm-save-cancel>
                        </cm-edit>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="content-section">
    <div class="content-heading">
        Members
        <div class="content-heading-buttons">
            <button class="btn btn-action">Add</button>
        </div>
    </div>
    <div ng-repeat="identifier in identifiers">
        <div cm-resource="identifier">
            <cm-display>
                <cm-edit-delete></cm-edit-delete>
            </cm-display>



        </div>
    </div>
</div>
    </div>
    </div>
    </div>-->