<div>
    <div class="block">
        <div class="block-header">
            <h2>HPO Terms</h2>

            <div class="block-header-buttons">
            </div>
        </div>
        <div class="block-content">
            <div ng-repeat="patientHpo in patientHpos" class="pills">
                <a href class="highlight" ng-click="showHpoModal(patientHpo.hpo)">{{ patientHpo.hpo.name }}</a>
            </div>
            <div ng-repeat="mention in mentions" class="pills">
                <a href class="highlight" ng-click="showHpoModal(mention.hpo)">{{ mention.hpo.name }}</a>
            </div>
            <div ng-show="!patientHpos.length && !mentions.length" class="nodata">
                No HPO terms.
            </div>
        </div>
    </div>

    <div class="block">
        <div class="block-header">
            <h2>Genetic Report</h2>
        </div>
        <div class="block-content">
            <div ng-show="!geneMutations.length" class="nodata">
                No genetic report.
            </div>

            <table class="table" ng-show="geneMutations.length">
                <tr>
                    <th>Name</th>
                    <th>Gene</th>
                    <th>Mutation Type</th>
                    <th>Pathogenicity</th>
                </tr>
                <tbody ng-repeat="geneMutation in geneMutations">
                    <tr>
                        <td>{{ geneMutation.name }}</td>
                        <td>{{ geneMutation.gene.name }}</td>
                        <td>{{ geneMutation.mutation_type.name }}</td>
                        <td>{{ geneMutation.pathogenic }}</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

    <div class="block">
        <div class="block-header">
            <h2>Diagnoses</h2>
        </div>
        <div class="block-content">
            <div class="resource-block">

                <div ng-show="!diagnoses.length" class="nodata">
                    No diagnoses.
                </div>

                <div ng-repeat="diagnosis in diagnoses">
                    <a href class="highlight" ng-click="showDisorderModal(diagnosis.disorder)">{{ diagnosis.disorder.name }}</a>
                </div>
            </div>

        </div>
    </div>

</div>
