<div>
    <div class="block">
        <div class="block-header">
            <button class="btn btn-action" ng-click="annotate()">Annotate</button>
        </div>
        <div class="block-content">
            <div cm-resource="patient">
                <cm-display>
                    <div class="resource-controls">
                        <cm-edit-delete></cm-edit-delete>
                    </div>
                    <div class="resource-block resource-block-narrow" ng-bind-html-unsafe="patient.formattedSummary">
                    </div>
                    <div ng-repeat="tag in tags">
                        {{ tag.term.name }}
                        <!--{{ tag.term.concept }}-->
                        {{ tag.from }}
                        {{ tag.to }}
                    </div>
                </cm-display>
                <cm-edit>

                    <div>
                        <textarea style="width: 100%" ng-model="patient.clinical_summary" ck-editor placeholder="Write a clinical summary for this patient"></textarea>
                    </div>


                    <div class="resource-block">
                        <cm-save-cancel></cm-save-cancel>
                    </div>

                </cm-edit>
            </div>
        </div>
    </div>
</div>


<!--<div>-->
    <!--<div class="header">-->
        <!--<div class="header-title">-->
            <!--Case Information-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="content-box row">-->
        <!--<div class="col-md-7">-->

            <!--<div class="content-section">-->
                <!--<div class="content-heading">-->
                    <!--Clinical Summary-->
                <!--</div>-->
                <!--<div class="content-content">-->

                <!--</div>-->
            <!--</div>-->

            <!--<div class="content-section">
                <div class="content-heading">
                    X-Rays
                    <div class="content-heading-buttons">
                        <button class="btn btn-action">Add</button>
                    </div>
                </div>
                <div class="content-content">
                    <div ng-repeat="xray in xrays">
                        <div cm-resource="xray">
                            <cm-display>
                                <cm-edit-delete></cm-edit-delete>
                                <pre>
                                    {{ xray | json }}
                                </pre>
                            </cm-display>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-section">
                <div class="content-heading">
                    Genetic Reports
                    <div class="content-heading-buttons">
                        <button class="btn btn-action">Add</button>
                    </div>
                </div>
                <div class="content-content">
                    <div ng-repeat="mutation in mutations">
                        <div cm-resource="mutation">
                            <cm-display>
                                <cm-edit-delete></cm-edit-delete>
                                <pre>
                                    {{ mutation | json }}
                                </pre>
                            </cm-display>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-section">
                <div class="content-heading">
                    Diagnoses
                    <div class="content-heading-buttons">
                        <button class="btn btn-action">Add</button>
                    </div>
                </div>
                <div class="content-content">
                    <div ng-repeat="diagnosis in diagnoses">
                        <div cm-resource="diagnosis">
                            <cm-display>
                                <cm-edit-delete></cm-edit-delete>
                                <pre>
                                    {{ diagnosis | json }}
                                </pre>
                            </cm-display>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
