<div>
    <div class="block">
        <div class="block-header">
            <h2>Summary</h2>
        </div>
        <div class="block-content">

            <div cm-resource="patient">
                <cm-display>
                    <div class="resource-controls">
                        <cm-edit-delete delete-enabled="false" edit-enabled="patient.access == 'owner'"></cm-edit-delete>
                    </div>
                    <div class="resource-block resource-block-has-buttons">
                        <div class="nodata" ng-show="!patient.clinical_summary.length">
                            No clinical summary recorded.
                        </div>
                        <mentions text="patient.clinical_summary" mentions="patient.mentions" class="resource-block-clinsum"></mentions>
                    </div>
                </cm-display>
                <cm-edit>
                    <textarea style="width: 100%; height: 800px;" ck-editor ng-model="patient.clinical_summary" placeholder="Write a clinical summary for this patient"></textarea>
                    <div class="resource-block">
                        <cm-save-cancel></cm-save-cancel>
                    </div>
                </cm-edit>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="block-header">
            <h2>HPO Terms</h2>
            <div class="block-header-buttons">
                <button ng-click="showNewHPO()" class="btn btn-action" ng-show="patient.access == 'owner'">Add</button>
            </div>

        </div>
        <div class="block-content">
            <div class="nodata" ng-show="!patientHPOs.length && !showNewHpos && !patient.mentions.length">
                No HPO terms attached to this patient.
            </div>

            <div class="resource is-editing" ng-if="showNewHpos" style="margin-bottom: 14px;">
                <div class="resource-block">
                    <div class="resource-block-element">
                        <label class="label-top resource-block-heading">HPO Term</label>
                        <typeahead model="newHpos" options-fn="findHPO(value)" multi="true" placeholder="What terms do you want to add?"></typeahead>
                    </div>
                </div>
                <div class="resource-block" style="text-align: right">
                    <button class="btn btn-action" ng-click="cancelNewHpos()">Cancel</button>
                    <button class="btn btn-action btn-action-selected" ng-click="saveNewHpos(newHpos)">Save</button>
                </div>
            </div>


            <div ng-repeat="mention in patient.mentions">
                <div class="resource" ng-if="mention.mentioned_type == 'hpo'">
                    <div class="resource-block" ng-class="{'mention-highlight': mention.highlight}">
                        <a href class="highlight" ng-click="showHpoModal(mention.hpo)">{{ mention.hpo.name }}</a>
                    </div>
                </div>
            </div>
            <div ng-repeat="patientHPO in patientHPOs" cm-resource="patientHPO" remove-fn="removePatientHPO(patientHPO)">
                <div class="resource-controls no-edit">
                    <cm-edit-delete edit-enabled="false" delete-enabled="patient.access == 'owner'"></cm-edit-delete>
                </div>
                <div class="resource-block no-edit">
                    <a href class="highlight" ng-click="showHpoModal(patientHpo.hpo)">{{ patientHPO.hpo.name }}</a>
                </div>

            </div>
        </div>
    </div>
</div>


<!--<div>-->
    <!--<div class="header">-->
        <!--<div class="header-title">-->
            <!--Case Information-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="content-box row">-->
        <!--<div class="col-md-7">-->

            <!--<div class="content-section">-->
                <!--<div class="content-heading">-->
                    <!--Clinical Summary-->
                <!--</div>-->
                <!--<div class="content-content">-->

                <!--</div>-->
            <!--</div>-->

            <!--<div class="content-section">
                <div class="content-heading">
                    X-Rays
                    <div class="content-heading-buttons">
                        <button class="btn btn-action">Add</button>
                    </div>
                </div>
                <div class="content-content">
                    <div ng-repeat="xray in xrays">
                        <div cm-resource="xray">
                            <cm-display>
                                <cm-edit-delete></cm-edit-delete>
                                <pre>
                                    {{ xray | json }}
                                </pre>
                            </cm-display>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-section">
                <div class="content-heading">
                    Genetic Reports
                    <div class="content-heading-buttons">
                        <button class="btn btn-action">Add</button>
                    </div>
                </div>
                <div class="content-content">
                    <div ng-repeat="mutation in mutations">
                        <div cm-resource="mutation">
                            <cm-display>
                                <cm-edit-delete></cm-edit-delete>
                                <pre>
                                    {{ mutation | json }}
                                </pre>
                            </cm-display>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-section">
                <div class="content-heading">
                    Diagnoses
                    <div class="content-heading-buttons">
                        <button class="btn btn-action">Add</button>
                    </div>
                </div>
                <div class="content-content">
                    <div ng-repeat="diagnosis in diagnoses">
                        <div cm-resource="diagnosis">
                            <cm-display>
                                <cm-edit-delete></cm-edit-delete>
                                <pre>
                                    {{ diagnosis | json }}
                                </pre>
                            </cm-display>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
