<div class="page">
    <div class="page-top">
        <div class="page-top-buttons">
            <button class="btn btn-action" ng-click="logout()" ng-show="user.uid == SessionService.currentUser.uid">Logout</button>
        </div>
        <h1>
            <a ng-show="user.uid == SessionService.currentUser.uid"
               href
               modal="{type: 'window', url: 'app/user/modal_profile.tpl.html'}">
                <img class="user-picture user-picture-large" ng-src="{{ user.picture.thumb_url || user.picture.url || 'img/default.png' }}" alt=""/>
            </a>

            <img ng-show="user.uid != SessionService.currentUser.uid" class="user-picture user-picture-large" ng-src="{{ user.picture.url || user.picture.thumb_url || 'img/default.png' }}" alt=""/>

            {{ user.name }}</h1>
    </div>
</div>
<div>
    <div class="block">
        <div class="block-header">
            <h2>Information</h2>
        </div>
        <div class="block-content" cm-resource="user" saved-fn="userSaved(user)">
            <cm-display>
                <div class="resource-controls">
                    <!--<cm-edit-delete delete-enabled="false" edit-enabled="user.uid == SessionService.currentUser.uid"></cm-edit-delete>-->
                </div>

                <div class="resource-block">
                    <h3 class="resource-block-heading">
                        Email
                    </h3>
                    {{ user.mail }}
                </div>
                <div class="resource-block">
                    <h3 class="resource-block-heading">
                        Roles
                    </h3>
                    <div ng-repeat="role in user.roles" style="text-transform: capitalize">
                        {{ role }}
                    </div>
                </div>

            </cm-display>
            <!--<cm-edit>
                <div class="resource-block">
                    <h3 class="resource-block-heading">
                        Email
                    </h3>
                    {{ user.mail }}
                </div>

                <div class="resource-block">
                    <h3 class="resource-block-heading">
                        Profile Picture
                    </h3>


                    </upload-block>
                </div>
                <div class="resource-block">
                    <cm-save-cancel></cm-save-cancel>
                </div>
            </cm-edit>-->
        </div>
    </div>

    <div class="block">
        <div class="block-header">
            <h2>Memberships</h2>
        </div>
        <div class="block-content">
            <div class="nodata" ng-show="membership.length == 0">
                No memberships found.
            </div>
            <div ng-repeat="membership in memberships">
                <a href="#/group/{{ membership.group.id }}/summary"></a>{{ membership.group.name }}
            </div>
        </div>
    </div>
</div>