<div>
    <div class="content-title">
        Other Identifiers <button ng-click="add()" class="btn">Add</button>
    </div>

    <div ng-repeat="identifier in identifiers" class="content-box">
        <record resource="identifier" remove-fn="remove(identifier)">
            <dl class="inputblock-values">
                <dt>
                    Name
                </dt>
                <dd>
                    <field>
                        <value-block value="identifier.name"></value-block>
                    </field>

                </dd>
                <dt>
                    ID
                </dt>
                <dd>
                    <field>
                        <value-block value="identifier.identifier"></value-block>
                    </field>
                </dd>
            </dl>
        </record>

    </div>

</div>
