<div>
    <div class="content-title">
        Other Identifiers <button ng-click="add()" class="btn">Add</button>
    </div>

    <table class="table content-table">
        <tr>
            <th>Name</th>
            <th>Identifier</th>
            <th></th>
        </tr>
        <tr ng-repeat="identifier in identifiers">
            <td>
                <value-block value="identifier.name" model="identifier" editable="true"></value-block>
            </td>
            <td>
                <value-block value="identifier.identifier" model="identifier" editable="true"></value-block>
            </td>
            <td>
            </td>
        </tr>
    </table>

</div>
