<div>
    <div class="content-title">
        Sharing <button ng-click="add()" class="btn">Add</button>
    </div>

    <div style="background-color: #E5F1FD; padding: 7px; display: none">
        <div style="padding: 21px; background-color: #ffffff; border: 1px solid #c7cdd1">
            <input type="text" class="form-control" placeholder="Search for a Physician or Group" ng-model="patientOrGroupName" ng-change="searchForPatientOrGroups(patientOrGroupName)"/>
        </div>
    </div>


    <div ng-repeat="share in shares" class="content-box">
        <record resource="share"  remove-fn="remove(share)">
            <field editable="false">
                <share-block value="share"></share-block>

                <!--<div ng-show="$$prevSibling.isEditing">-->
                    <!--<select ng-model="share.group_id" ng-options="group.id as group.name for group in membershipGroups" ></select>-->
                <!--</div>-->
                <!--<div ng-show="!$$prevSibling.isEditing">-->
                    <!---->
                <!--</div>-->
            </field>
        </record>
    </div>

</div>