<div>
    <div class="content-title">
        Sharing <button ng-click="add()" class="btn btn-primary">Add</button>
    </div>

    <table class="table content-table">
        <tr>
            <th>Name</th>
        </tr>
        <tr ng-repeat="share in shares">
            <td>
                <select-block value="share.group_id" model="share" list="membershipGroups" edit-attr="id" display-attr="name"></select-block>
                <button ng-click="share.$save();">Save</button>
            </td>
        </tr>
    </table>

</div>
