<div>
    <!-- Has a model ID (means its saved in the database and we are editing -->
    <div ng-show="model.id">
        <div ng-show="!isEditing" ng-dblclick="edit()">

            <dl>
                <dt>Street</dt>
                <dd>{{ value.street }}</dd>

                <dt>City</dt>
                <dd>{{ value.city }}</dd>

                <dt>State</dt>
                <dd>{{ value.state }}</dd>

                <dt>Post Code</dt>
                <dd>{{ value.postcode }}</dd>

                <dt>Country</dt>
                <dd>{{ value.country }}</dd>
            </dl>
        </div>


        <span ng-show="isEditing">
            <input type="text" ng-model="value.street" ng-change="lookupStreet(value.street)" placeholder="Street" class="form-control"/>
            <input type="text" ng-model="value.city" placeholder="City" class="form-control"/>
            <input type="text" ng-model="value.state" placeholder="State" class="form-control"/>
            <input type="text" ng-model="value.postcode"  placeholder="Post Code" class="form-control"/>
            <input type="text" ng-model="value.country" placeholder="Country" class="form-control"/>

            <div ng-repeat="prediction in predictions" class="well">
                <div>{{ prediction.terms[0].value }}</div>
            </div>
        </span>

        <!-- Editing controls -->
        <span>
            <span ng-show="!isEditing">
                <button ng-click="edit()" class="btn btn-action"><i class="icon icon-pencil"></i></button>
            </span>

            <span ng-show="isEditing">
                <button ng-click="save()" class="btn btn-action"><i class="icon icon-save"></i></button>
                <button ng-click="cancel()" class="btn btn-action"><i class="icon icon-remove"></i></button>
            </span>
        </span>
    </span>

    <!-- No model id, so only show editing -->
    <span ng-show="!model.id">
        <input type="text" ng-model="value.street" ng-change="lookupStreet(value.street)" placeholder="Street" class="form-control"/>
        <input type="text" ng-model="value.city" placeholder="City" class="form-control"/>
        <input type="text" ng-model="value.state" placeholder="State" class="form-control"/>
        <input type="text" ng-model="value.postcode"  placeholder="Post Code" class="form-control"/>
        <input type="text" ng-model="value.country" placeholder="Country" class="form-control"/>

        <div ng-repeat="prediction in predictions" class="well">
            <div>{{ prediction.terms[0].value }}</div>
        </div>
    </span>
</div>

