<div class="inputblock">
    <!-- Has a model ID (means its saved in the database and we are editing -->
    <div ng-show="!isEditing">
        <div class="inputblock-values" >
            <div class="row">
                <div class="col-md-12">
                    <div ng-show="value.street">
                        {{ value.street }}
                    </div>
                    <div ng-show="!value.street" class="inputblock-info">
                        Street address
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span ng-show="value.city">
                        {{ value.city }}
                    </span>
                    <span ng-show="!value.city">
                        City
                    </span>

                    <span>
                        {{ value.state }}
                    </span>

                    <span>
                        {{ value.postcode }}
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ value.country }}
                </div>
            </div>

            <!-- todo: add in address type e.g. home or work -->
        </div>
    </div>

    <div ng-show="isEditing">
        <div class="row addressblock-row">
            <div class="col-md-12">
                <input type="text" ng-model="value.street" placeholder="Street" class="inputblock-input valueblock-input"/>
            </div>
        </div>
        <div class="row addressblock-row">
            <div class="col-md-4">
                <input type="text" ng-model="value.city" placeholder="City" class="inputblock-input valueblock-input"/>
            </div>
            <div class="col-md-4">
                <input type="text" ng-model="value.state" placeholder="State" class="inputblock-input valueblock-input"/>
            </div>
            <div class="col-md-4">
                <input type="text" ng-model="value.postcode"  placeholder="Post Code" class="inputblock-input valueblock-input"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="text" ng-model="value.country" placeholder="Country" class="inputblock-input valueblock-input"/>
            </div>
        </div>
    </div>

</div>
