<div>
    <div class="content-title">
        My Groups <button class="btn btn-primary" ng-click="add()">Add</button>
    </div>
    <!--<h2> <a href="#/patient" class="btn btn-primary">New Patient</a></h2>-->

    <table class="table content-table">
        <tr>
            <th>Name</th>
            <th>Location</th>
        </tr>
        <tr ng-repeat="membership in memberships">
            <td>
                <select-block value="membership.group_id" model="membership" list="groups" edit-attr="id" display-attr="name"></select-block>
                <button ng-click="membership.$save()">Join</button>
            </td>
            <td>
                <a href="#/group/{{ membership.group.id }}/summary">{{ membership.group.location }}</a>
            </td>
        </tr>
    </table>

</div>
