<div>
    <div class="page">
        <div class="page-top">
            <div class="page-top-buttons">
                <button class="btn btn-action" ng-click="showCreateGroup()"><i class="icon icon-plus-sign"></i> New Group</button>
                <!--<button class="btn btn-action" ng-click="showFindGroup()"><i class="icon icon-search"></i> Find a Group</button>-->
            </div>
            <h1>My Groups</h1>
        </div>
        <div class="page-content">
            <div class="nodata" ng-show="!memberships.length">
                No memberships recorded.
            </div>
            <table class="table" ng-show="memberships.length">
                <tr>
                    <th>Name</th>
                    <!--<th>Location</th>-->
                    <th>Members</th>
                    <th>Patients</th>
                    <th></th>
                </tr>
                <tr ng-repeat="membership in memberships | filter:search">
                    <!-- Groups -->
                    <td>
                        <a href="#/group/{{ membership.group.id }}/summary">
                            {{ membership.group.name }}
                        </a>
                    </td>

                    <!-- Members -->
                    <td>
                        <a href="#/group/{{ membership.group.id }}/summary">
                            {{ membership.group.member_count }}
                            <!--<cm-facepile users="membership.group.members" limit="5"></cm-facepile>-->
                        </a>
                    </td>

                    <td>
                        <a href="#/group/{{ membership.group.id }}/patients">
                            {{ membership.group.patient_count || "0" }}
                        </a>
                    </td>

                    <td>

                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-action btn-action-small dropdown-toggle" data-toggle="dropdown">
                                <i class="icon icon-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="" ng-click="showDeleteMembership(membership)"><i class="icon icon-arrow-left"></i> Leave</a></li>
                                <li><a href="" ng-click="showDeleteGroup(membership)" ng-show="currentUser.uid == membership.group.administrator_id"><i class="icon icon-trash"></i> Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <smodal name="deleteGroup">
        <div class="smodal-title">
            Delete Group
        </div>
        <div class="smodal-description" >
            Are you sure you want to delete this group?
        </div>
        <div class="smodal-buttons">
            <div class="pull-right">
                <button class="btn btn-action" ng-click="$close()">Cancel</button>
                <button class="btn btn-action btn-action-selected" ng-click="$close(); deleteGroupAndMembership(membershipWithGroupToDelete)">Delete {{ membershipWithGroupToDelete.group.name }}</button>
            </div>
        </div>
    </smodal>

    <smodal name="deleteMembership">
        <div class="smodal-title">
            Leave Group
        </div>
        <div class="smodal-description" >
            Are you sure you want to leave this group?
        </div>
        <div class="smodal-buttons">
            <div class="pull-right">
                <button class="btn btn-action" ng-click="$close()">Cancel</button>
                <button class="btn btn-action btn-action-selected" ng-click="$close(); deleteMembership(membershipToDelete)">Leave {{ membershipToDelete.group.name }}</button>
            </div>
        </div>
    </smodal>

    <smodal name="createGroup">
        <div class="smodal-title smodal-block">
            Create a Group
        </div>


        <div class="smodal-block">
            <div class="smodal-block-element">
                <label class="label-top">Group Name</label>
                <input type="text" id="group_name" class="full-width" placeholder="What is the groups name?" ng-model="newGroup.name" required/>
            </div>
            <div class="smodal-block-element">
                <label class="label-top" for="">Description</label>
                <textarea id="description" placeholder="What is a good description of your group?" ng-model="newGroup.description" class="full-width"></textarea>
            </div>
            <div class="smodal-block-element">
                <label class="label-top" for="">Members</label>
                <typeahead multi="true" model="newGroup.members" options-fn="findUsers(value)" placeholder="Who do you want to invite to this group?" id="members"></typeahead>
            </div>
        </div>
        <div class="smodal-buttons smodal-block">
            <div class="pull-right">
                <button class="btn btn-action" ng-click="$close()">Cancel</button>
                <button class="btn btn-action btn-action-selected" ng-click="createGroup(newGroup)">Create</button>
            </div>
        </div>

    </smodal>

</div>


<!--    <div>
    <div class="content-title">
        My Groups <button class="btn btn-primary" ng-click="add()">Find</button>
    </div>

    <table class="table content-table">
        <tr>
            <th>Name</th>
            <th>Location</th>
        </tr>
        <tr ng-repeat="membership in memberships">
            <td>
                <select-block value="membership.group_id" model="membership" list="groups" edit-attr="id" display-attr="name"></select-block>
                <button ng-click="membership.$save()">Join</button>
            </td>
            <td>
                <a href="#/group/{{ membership.group.id }}/summary">{{ membership.group.location }}</a>
            </td>
        </tr>
    </table>

</div>-->